---
  openapi: "3.0.3"
  info: 
    title: "Outreach REST API Reference"
    version: ""
  servers: 
    - 
      url: "https://api.outreach.io/api/v2"
  security: 
    - 
      bearerAuth: []
  tags: 
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/account\" />\n\n## Account Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/accountRelationships\" />\n\n## Account Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Account has to external sources. | provideDataConnections |\n\n\n## ⌵ Account Actions\n\n"
      name: "Account"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/audit\" />\n\n## ⌵ Audit Actions\n\n"
      name: "Audit"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/callDisposition\" />\n\n## Call Disposition Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/callDispositionRelationships\" />\n\n## Call Disposition Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Call Disposition Actions\n\n"
      name: "Call Disposition"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/callPurpose\" />\n\n## Call Purpose Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/callPurposeRelationships\" />\n\n## Call Purpose Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Call Purpose Actions\n\n"
      name: "Call Purpose"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/call\" />\n\n## Call Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/callRelationships\" />\n\n## Call Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Call has to external sources. | provideDataConnections |\n\n\n## ⌵ Call Actions\n\n"
      name: "Call"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/complianceRequest\" />\n\n## Compliance Request Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/complianceRequestRelationships\" />\n\n## ⌵ Compliance Request Actions\n\n"
      name: "Compliance Request"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/contentCategory\" />\n\n## Content Category Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/contentCategoryRelationships\" />\n\n## Content Category Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Content Category Actions\n\n"
      name: "Content Category"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/contentCategoryMembership\" />\n\n## Content Category Membership Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/contentCategoryMembershipRelationships\" />\n\n## Content Category Membership Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Content Category Membership Actions\n\n"
      name: "Content Category Membership"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/contentCategoryOwnership\" />\n\n## Content Category Ownership Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/contentCategoryOwnershipRelationships\" />\n\n## Content Category Ownership Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Content Category Ownership Actions\n\n"
      name: "Content Category Ownership"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/customDuty\" />\n\n## ⌵ Custom Duty Actions\n\n"
      name: "Custom Duty"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/duty\" />\n\n## ⌵ Duty Actions\n\n"
      name: "Duty"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/emailAddress\" />\n\n## Email Address Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/emailAddressRelationships\" />\n\n## Email Address Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Email Address Actions\n\n"
      name: "Email Address"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/event\" />\n\n## Event Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/eventRelationships\" />\n\n## ⌵ Event Actions\n\n"
      name: "Event"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/favorite\" />\n\n## Favorite Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/favoriteRelationships\" />\n\n## Favorite Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Favorite Actions\n\n"
      name: "Favorite"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/mailAlias\" />\n\n## Mail Alias Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/mailAliasRelationships\" />\n\n## ⌵ Mail Alias Actions\n\n"
      name: "Mail Alias"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/mailbox\" />\n\n## Mailbox Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/mailboxRelationships\" />\n\n## Mailbox Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Mailbox Actions\n\n"
      name: "Mailbox"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/mailing\" />\n\n## Mailing Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/mailingRelationships\" />\n\n## Mailing Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Mailing has to external sources. | provideDataConnections |\n\n\n## ⌵ Mailing Actions\n\n"
      name: "Mailing"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/opportunity\" />\n\n## Opportunity Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/opportunityRelationships\" />\n\n## Opportunity Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Opportunity has to external sources. | provideDataConnections |\n\n\n## ⌵ Opportunity Actions\n\n"
      name: "Opportunity"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/opportunityProspectRole\" />\n\n## Opportunity Prospect Role Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/opportunityProspectRoleRelationships\" />\n\n## Opportunity Prospect Role Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Opportunity Prospect Role Actions\n\n"
      name: "Opportunity Prospect Role"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/opportunityStage\" />\n\n## Opportunity Stage Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/opportunityStageRelationships\" />\n\n## Opportunity Stage Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Opportunity Stage has to external sources. | provideDataConnections |\n\n\n## ⌵ Opportunity Stage Actions\n\n"
      name: "Opportunity Stage"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/persona\" />\n\n## Persona Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/personaRelationships\" />\n\n## Persona Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Persona Actions\n\n"
      name: "Persona"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/phoneNumber\" />\n\n## Phone Number Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/phoneNumberRelationships\" />\n\n## Phone Number Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Phone Number Actions\n\n"
      name: "Phone Number"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/profile\" />\n\n## Profile Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Profile Actions\n\n"
      name: "Profile"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/prospect\" />\n\n## Prospect Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/prospectRelationships\" />\n\n## Prospect Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Prospect has to external sources. | provideDataConnections |\n\n\n## ⌵ Prospect Actions\n\n"
      name: "Prospect"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/recipient\" />\n\n## Recipient Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Recipient Actions\n\n"
      name: "Recipient"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/role\" />\n\n## Role Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/roleRelationships\" />\n\n## Role Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Role Actions\n\n"
      name: "Role"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/ruleset\" />\n\n## Ruleset Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/rulesetRelationships\" />\n\n## Ruleset Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Ruleset Actions\n\n"
      name: "Ruleset"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/sequenceState\" />\n\n## Sequence State Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/sequenceStateRelationships\" />\n\n## Sequence State Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Sequence State Actions\n\n"
      name: "Sequence State"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/sequenceStep\" />\n\n## Sequence Step Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/sequenceStepRelationships\" />\n\n## Sequence Step Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Sequence Step Actions\n\n"
      name: "Sequence Step"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/sequenceTemplate\" />\n\n## Sequence Template Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/sequenceTemplateRelationships\" />\n\n## Sequence Template Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Sequence Template Actions\n\n"
      name: "Sequence Template"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/sequence\" />\n\n## Sequence Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/sequenceRelationships\" />\n\n## Sequence Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Sequence Actions\n\n"
      name: "Sequence"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/snippet\" />\n\n## Snippet Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/snippetRelationships\" />\n\n## Snippet Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Snippet Actions\n\n"
      name: "Snippet"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/stage\" />\n\n## Stage Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/stageRelationships\" />\n\n## Stage Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Stage has to external sources. | provideDataConnections |\n\n\n## ⌵ Stage Actions\n\n"
      name: "Stage"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/taskPriority\" />\n\n## Task Priority Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/taskPriorityRelationships\" />\n\n## ⌵ Task Priority Actions\n\n"
      name: "Task Priority"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/task\" />\n\n## Task Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/taskRelationships\" />\n\n## Task Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given Task has to external sources. | provideDataConnections |\n\n\n## ⌵ Task Actions\n\n"
      name: "Task"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/team\" />\n\n## Team Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/teamRelationships\" />\n\n## Team Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Team Actions\n\n"
      name: "Team"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/template\" />\n\n## Template Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/templateRelationships\" />\n\n## Template Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Template Actions\n\n"
      name: "Template"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/user\" />\n\n## User Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/userRelationships\" />\n\n## User Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  dataConnections | The set of connections a given User has to external sources. | provideDataConnections |\n\n\n## ⌵ User Actions\n\n"
      name: "User"
      x-internal: false
    - 
      description: "<SchemaDefinition schemaRef=\"#/components/schemas/webhook\" />\n\n## Webhook Relationships\n\n<SchemaDefinition schemaRef=\"#/components/schemas/webhookRelationships\" />\n\n## Webhook Resource Metadata\n\n| **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |\n| --- | --- | --- |\n|  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |\n|  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |\n\n\n## ⌵ Webhook Actions\n\n"
      name: "Webhook"
      x-internal: false
  paths: 
    /accounts: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/accountResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Get a Collection of Accounts"
        tags: 
          - "Account"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/account"
                      relationships: 
                        $ref: "#/components/schemas/accountRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/accountResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Create a New Account"
        tags: 
          - "Account"
        x-internal: false
    /accounts/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Delete an Existing Account by ID"
        tags: 
          - "Account"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/accountResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Get an Account by ID"
        tags: 
          - "Account"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/account"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/accountRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/account"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/accountRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Update an Account"
        tags: 
          - "Account"
        x-internal: false
    /audits: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/auditResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Audits"
        tags: 
          - "Audit"
        x-internal: false
    /callDispositions: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/callDispositionResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Call Dispositions"
        tags: 
          - "Call Disposition"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/callDisposition"
                      relationships: 
                        $ref: "#/components/schemas/callDispositionRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callDispositionResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Call Disposition"
        tags: 
          - "Call Disposition"
        x-internal: false
    /callDispositions/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Call Disposition by ID"
        tags: 
          - "Call Disposition"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callDispositionResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Call Disposition by ID"
        tags: 
          - "Call Disposition"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/callDisposition"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/callDispositionRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/callDisposition"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/callDispositionRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Update a Call Disposition"
        tags: 
          - "Call Disposition"
        x-internal: false
    /callPurposes: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/callPurposeResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Call Purposes"
        tags: 
          - "Call Purpose"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/callPurpose"
                      relationships: 
                        $ref: "#/components/schemas/callPurposeRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callPurposeResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Call Purpose"
        tags: 
          - "Call Purpose"
        x-internal: false
    /callPurposes/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Call Purpose by ID"
        tags: 
          - "Call Purpose"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callPurposeResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Call Purpose by ID"
        tags: 
          - "Call Purpose"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/callPurpose"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/callPurposeRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/callPurpose"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/callPurposeRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Update a Call Purpose"
        tags: 
          - "Call Purpose"
        x-internal: false
    /calls: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/callResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Get a Collection of Calls"
        tags: 
          - "Call"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/call"
                      relationships: 
                        $ref: "#/components/schemas/callRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Create a New Call"
        tags: 
          - "Call"
        x-internal: false
    /calls/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Delete an Existing Call by ID"
        tags: 
          - "Call"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/callResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Get a Call by ID"
        tags: 
          - "Call"
        x-internal: false
    /complianceRequests: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/complianceRequestResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Compliance Requests"
        tags: 
          - "Compliance Request"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/complianceRequest"
                      relationships: 
                        $ref: "#/components/schemas/complianceRequestRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/complianceRequestResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Compliance Request"
        tags: 
          - "Compliance Request"
        x-internal: false
    /complianceRequests/{id}: 
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/complianceRequestResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Compliance Request by ID"
        tags: 
          - "Compliance Request"
        x-internal: false
    /contentCategories: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/contentCategoryResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Content Categories"
        tags: 
          - "Content Category"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/contentCategory"
                      relationships: 
                        $ref: "#/components/schemas/contentCategoryRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/contentCategoryResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Content Category"
        tags: 
          - "Content Category"
        x-internal: false
    /contentCategories/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Content Category by ID"
        tags: 
          - "Content Category"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/contentCategoryResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Content Category by ID"
        tags: 
          - "Content Category"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/contentCategory"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/contentCategoryRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/contentCategory"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/contentCategoryRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Update a Content Category"
        tags: 
          - "Content Category"
        x-internal: false
    /contentCategoryMemberships: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/contentCategoryMembershipResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Content Category Memberships"
        tags: 
          - "Content Category Membership"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/contentCategoryMembership"
                      relationships: 
                        $ref: "#/components/schemas/contentCategoryMembershipRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/contentCategoryMembershipResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Content Category Membership"
        tags: 
          - "Content Category Membership"
        x-internal: false
    /contentCategoryMemberships/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Content Category Membership by ID"
        tags: 
          - "Content Category Membership"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/contentCategoryMembershipResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Content Category Membership by ID"
        tags: 
          - "Content Category Membership"
        x-internal: false
    /contentCategoryOwnerships: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/contentCategoryOwnershipResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Content Category Ownerships"
        tags: 
          - "Content Category Ownership"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/contentCategoryOwnership"
                      relationships: 
                        $ref: "#/components/schemas/contentCategoryOwnershipRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/contentCategoryOwnershipResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Content Category Ownership"
        tags: 
          - "Content Category Ownership"
        x-internal: false
    /contentCategoryOwnerships/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Content Category Ownership by ID"
        tags: 
          - "Content Category Ownership"
        x-internal: false
    /customDuties: 
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/customDuty"
                      relationships: 
                        $ref: "#/components/schemas/customDutyRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/customDutyResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Custom Duty"
        tags: 
          - "Custom Duty"
        x-internal: false
    /duties: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/dutyResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Duties"
        tags: 
          - "Duty"
        x-internal: false
    /emailAddresses: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/emailAddressResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Email Addresses"
        tags: 
          - "Email Address"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/emailAddress"
                      relationships: 
                        $ref: "#/components/schemas/emailAddressRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/emailAddressResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Email Address"
        tags: 
          - "Email Address"
        x-internal: false
    /emailAddresses/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Email Address by ID"
        tags: 
          - "Email Address"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/emailAddressResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get an Email Address by ID"
        tags: 
          - "Email Address"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/emailAddress"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/emailAddressRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/emailAddress"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/emailAddressRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Update an Email Address"
        tags: 
          - "Email Address"
        x-internal: false
    /events/{id}: 
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/eventResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        security: 
          - 
            bearerAuth: []
            s2sAuthToken: []
        summary: "Get an Event by ID"
        tags: 
          - "Event"
        x-internal: false
    /favorites: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/favoriteResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Favorites"
        tags: 
          - "Favorite"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/favorite"
                      relationships: 
                        $ref: "#/components/schemas/favoriteRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/favoriteResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Favorite"
        tags: 
          - "Favorite"
        x-internal: false
    /favorites/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Favorite by ID"
        tags: 
          - "Favorite"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/favoriteResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Favorite by ID"
        tags: 
          - "Favorite"
        x-internal: false
    /mailAliases: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/mailAliasResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Mail Aliases"
        tags: 
          - "Mail Alias"
        x-internal: false
    /mailAliases/{id}: 
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/mailAliasResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Mail Alias by ID"
        tags: 
          - "Mail Alias"
        x-internal: false
    /mailboxes: 
      get: 
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      items: 
                        $ref: "#/components/schemas/mailboxResponse"
                      type: "array"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Get a Collection of Mailboxes"
        tags: 
          - "Mailbox"
        x-internal: false
      post: 
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/mailbox"
                      relationships: 
                        $ref: "#/components/schemas/mailboxRelationships"
                      type: 
                        type: "string"
                type: "object"
          required: true
        responses: 
          201: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/mailboxResponse"
            description: "Created"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Create a New Mailbox"
        tags: 
          - "Mailbox"
        x-internal: false
    /mailboxes/{id}: 
      delete: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          204: 
            content: 
              application/vnd.api+json: {}
            description: "Deleted"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Delete an Existing Mailbox by ID"
        tags: 
          - "Mailbox"
        x-internal: false
      get: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/mailboxResponse"
            description: "OK"
          404: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "Not Found"
        summary: "Get a Mailbox by ID"
        tags: 
          - "Mailbox"
        x-internal: false
      patch: 
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        requestBody: 
          content: 
            application/vnd.api+json: 
              schema: 
                properties: 
                  data: 
                    properties: 
                      attributes: 
                        $ref: "#/components/schemas/mailbox"
                      id: 
                        type: "integer"
                      relationships: 
                        $ref: "#/components/schemas/mailboxRelationships"
                      type: 
                        type: "string"
                    required: 
                      - "type"
                      - "id"
                type: "object"
          required: true
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      properties: 
                        attributes: 
                          $ref: "#/components/schemas/mailbox"
                        id: 
                          type: "integer"
                        relationships: 
                          $ref: "#/components/schemas/mailboxRelationships"
                        type: 
                          type: "string"
                      required: 
                        - "type"
                        - "id"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Update a Mailbox"
        tags: 
          - "Mailbox"
        x-internal: false
    /mailboxes/{id}/actions/linkEwsMasterAccount: 
      post: 
        description: "### Member Action \n\nLink mailbox with EWS master account"
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  description: "empty"
                  type: "object"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Link Ews Master Account"
        tags: 
          - "Mailbox"
        x-internal: false
    /mailboxes/{id}/actions/testSend: 
      post: 
        description: "### Member Action \n\nTest if sending emails works from this mailbox."
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/mailboxResponse"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Test Send"
        tags: 
          - "Mailbox"
        x-internal: false
    /mailboxes/{id}/actions/testSync: 
      post: 
        description: "### Member Action \n\nTest if syncing emails works from this mailbox."
        parameters: 
          - 
            in: "path"
            name: "id"
            required: true
            schema: 
              type: "integer"
        responses: 
          200: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    data: 
                      $ref: "#/components/schemas/mailboxResponse"
            description: "OK"
          422: 
            content: 
              application/vnd.api+json: 
                schema: 
                  properties: 
                    errors: 
                      items: 
                        properties: 
                          detail: 
                            type: "string"
                          id: 
                            type: "string"
                          title: 
                            type: "string"
                        type: "object"
                      type: "array"
            description: "JSON error message"
        summary: "Test Sync"
        tags: 
          - "Mailbox"
        x-internal: false
    /mailboxes/{id}/actions/unlinkEwsMasterAccount: 
      post: 
[...]
