---
  openapi: "3.0.0"
  info: 
    title: "Apollo API"
    version: "0.0.0"
  servers: 
    - 
      url: "https://app.apollo.io/api"
  paths: 
    /v1/emailer_campaigns/{id}: 
      get: 
        operationId: "getEmailerCampaign"
        tags: 
          - "emailer_campaigns"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    emailer_campaign: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        name: 
                          type: "string"
                          nullable: true
                        created_at: 
                          type: "string"
                        permissions: 
                          type: "string"
                          enum: 
                            - "team_can_use"
                            - "team_can_view"
                            - "private"
                        active: 
                          type: "boolean"
                        archived: 
                          type: "boolean"
                        label_ids: 
                          type: "array"
                          items: 
                            type: "string"
                        num_steps: 
                          type: "number"
                          nullable: true
                        user_id: 
                          type: "string"
                          nullable: true
                        unique_scheduled: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_delivered: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_opened: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_replied: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_demoed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_clicked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_unsubscribed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        open_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        click_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        reply_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        spam_blocked_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        opt_out_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        demo_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                      required: 
                        - "id"
                        - "created_at"
                        - "active"
                        - "archived"
                        - "label_ids"
                      additionalProperties: false
                    emailer_steps: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          emailer_campaign_id: 
                            type: "string"
                          position: 
                            type: "number"
                            nullable: true
                          wait_time: 
                            type: "number"
                            nullable: true
                          type: 
                            type: "string"
                            enum: 
                              - "auto_email"
                              - "manual_email"
                              - "call"
                              - "action_item"
                              - "linkedin_step_message"
                              - "linkedin_step_connect"
                              - "linkedin_step_view_profile"
                              - "linkedin_step_interact_post"
                          wait_mode: 
                            type: "string"
                            enum: 
                              - "second"
                              - "minute"
                              - "hour"
                              - "day"
                          note: 
                            type: "string"
                            nullable: true
                          max_emails_per_day: 
                            type: "number"
                            nullable: true
                          exact_datetime: 
                            type: "string"
                            nullable: true
                          priority: 
                            type: "string"
                            nullable: true
                          auto_skip_in_x_days: 
                            type: "number"
                            nullable: true
                          counts: 
                            type: "object"
                            properties: 
                              active: 
                                type: "number"
                                nullable: true
                              paused: 
                                type: "number"
                                nullable: true
                              finished: 
                                type: "number"
                                nullable: true
                              bounced: 
                                type: "number"
                                nullable: true
                              spam_blocked: 
                                type: "number"
                                nullable: true
                              hard_bounced: 
                                type: "number"
                                nullable: true
                              not_sent: 
                                type: "number"
                                nullable: true
                            additionalProperties: false
                            nullable: true
                        required: 
                          - "id"
                          - "emailer_campaign_id"
                          - "type"
                          - "wait_mode"
                        additionalProperties: false
                      nullable: true
                    emailer_touches: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          emailer_step_id: 
                            type: "string"
                            nullable: true
                          emailer_template_id: 
                            type: "string"
                            nullable: true
                          emailer_template: 
                            type: "object"
                            properties: 
                              id: 
                                type: "string"
                              name: 
                                type: "string"
                                nullable: true
                              user_id: 
                                type: "string"
                                nullable: true
                              subject: 
                                type: "string"
                                nullable: true
                              archived: 
                                type: "boolean"
                                nullable: true
                              created_at: 
                                type: "string"
                                nullable: true
                              global: 
                                type: "boolean"
                                nullable: true
                              body_text: 
                                type: "string"
                                nullable: true
                              folder_id: 
                                type: "string"
                                nullable: true
                              body_html: 
                                type: "string"
                                nullable: true
                              creation_type: 
                                type: "string"
                                nullable: true
                              label_ids: 
                                type: "array"
                                items: 
                                  type: "string"
                                nullable: true
                              prompt_id: 
                                type: "string"
                                nullable: true
                            required: 
                              - "id"
                            additionalProperties: false
                            nullable: true
                          status: 
                            type: "string"
                            nullable: true
                          type: 
                            type: "string"
                            enum: 
                              - "reply_to_thread"
                              - "new_thread"
                            nullable: true
                          include_signature: 
                            type: "boolean"
                            nullable: true
                          has_personalized_opener: 
                            type: "boolean"
                            nullable: true
                          personalized_opener_fallback_option: 
                            type: "string"
                            nullable: true
                          generic_personalized_opener: 
                            type: "string"
                            nullable: true
                          unique_scheduled: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_delivered: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_bounced: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_opened: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_replied: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          bounce_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          open_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          reply_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          demo_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_demoed: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_clicked: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          click_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_unsubscribed: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          opt_out_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_hard_bounced: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_spam_blocked: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          hard_bounce_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          spam_block_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                        required: 
                          - "id"
                        additionalProperties: false
                      nullable: true
                    emailer_templates: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          name: 
                            type: "string"
                            nullable: true
                          user_id: 
                            type: "string"
                            nullable: true
                          subject: 
                            type: "string"
                            nullable: true
                          archived: 
                            type: "boolean"
                            nullable: true
                          created_at: 
                            type: "string"
                            nullable: true
                          global: 
                            type: "boolean"
                            nullable: true
                          body_text: 
                            type: "string"
                            nullable: true
                          folder_id: 
                            type: "string"
                            nullable: true
                          body_html: 
                            type: "string"
                            nullable: true
                          creation_type: 
                            type: "string"
                            nullable: true
                          label_ids: 
                            type: "array"
                            items: 
                              type: "string"
                            nullable: true
                          prompt_id: 
                            type: "string"
                            nullable: true
                        required: 
                          - "id"
                        additionalProperties: false
                      nullable: true
                  required: 
                    - "emailer_campaign"
                  additionalProperties: false
    /v1/emailer_campaigns: 
      post: 
        operationId: "postEmailerCampaign"
        tags: 
          - "emailer_campaigns"
        requestBody: 
          content: 
            application/json: 
              schema: 
                type: "object"
                properties: 
                  name: 
                    type: "string"
                    nullable: true
                  permissions: 
                    type: "string"
                    enum: 
                      - "team_can_use"
                      - "team_can_view"
                      - "private"
                  user_id: 
                    type: "string"
                    nullable: true
                  label_ids: 
                    type: "array"
                    items: 
                      type: "string"
                  active: 
                    type: "boolean"
                additionalProperties: false
        parameters: []
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    emailer_campaign: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        name: 
                          type: "string"
                          nullable: true
                        created_at: 
                          type: "string"
                        permissions: 
                          type: "string"
                          enum: 
                            - "team_can_use"
                            - "team_can_view"
                            - "private"
                        active: 
                          type: "boolean"
                        archived: 
                          type: "boolean"
                        label_ids: 
                          type: "array"
                          items: 
                            type: "string"
                        num_steps: 
                          type: "number"
                          nullable: true
                        user_id: 
                          type: "string"
                          nullable: true
                        unique_scheduled: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_delivered: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_opened: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_replied: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_demoed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_clicked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_unsubscribed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        open_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        click_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        reply_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        spam_blocked_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        opt_out_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        demo_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                      required: 
                        - "id"
                        - "created_at"
                        - "active"
                        - "archived"
                        - "label_ids"
                      additionalProperties: false
                    emailer_steps: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          emailer_campaign_id: 
                            type: "string"
                          position: 
                            type: "number"
                            nullable: true
                          wait_time: 
                            type: "number"
                            nullable: true
                          type: 
                            type: "string"
                            enum: 
                              - "auto_email"
                              - "manual_email"
                              - "call"
                              - "action_item"
                              - "linkedin_step_message"
                              - "linkedin_step_connect"
                              - "linkedin_step_view_profile"
                              - "linkedin_step_interact_post"
                          wait_mode: 
                            type: "string"
                            enum: 
                              - "second"
                              - "minute"
                              - "hour"
                              - "day"
                          note: 
                            type: "string"
                            nullable: true
                          max_emails_per_day: 
                            type: "number"
                            nullable: true
                          exact_datetime: 
                            type: "string"
                            nullable: true
                          priority: 
                            type: "string"
                            nullable: true
                          auto_skip_in_x_days: 
                            type: "number"
                            nullable: true
                          counts: 
                            type: "object"
                            properties: 
                              active: 
                                type: "number"
                                nullable: true
                              paused: 
                                type: "number"
                                nullable: true
                              finished: 
                                type: "number"
                                nullable: true
                              bounced: 
                                type: "number"
                                nullable: true
                              spam_blocked: 
                                type: "number"
                                nullable: true
                              hard_bounced: 
                                type: "number"
                                nullable: true
                              not_sent: 
                                type: "number"
                                nullable: true
                            additionalProperties: false
                            nullable: true
                        required: 
                          - "id"
                          - "emailer_campaign_id"
                          - "type"
                          - "wait_mode"
                        additionalProperties: false
                      nullable: true
                    emailer_touches: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          emailer_step_id: 
                            type: "string"
                            nullable: true
                          emailer_template_id: 
                            type: "string"
                            nullable: true
                          emailer_template: 
                            type: "object"
                            properties: 
                              id: 
                                type: "string"
                              name: 
                                type: "string"
                                nullable: true
                              user_id: 
                                type: "string"
                                nullable: true
                              subject: 
                                type: "string"
                                nullable: true
                              archived: 
                                type: "boolean"
                                nullable: true
                              created_at: 
                                type: "string"
                                nullable: true
                              global: 
                                type: "boolean"
                                nullable: true
                              body_text: 
                                type: "string"
                                nullable: true
                              folder_id: 
                                type: "string"
                                nullable: true
                              body_html: 
                                type: "string"
                                nullable: true
                              creation_type: 
                                type: "string"
                                nullable: true
                              label_ids: 
                                type: "array"
                                items: 
                                  type: "string"
                                nullable: true
                              prompt_id: 
                                type: "string"
                                nullable: true
                            required: 
                              - "id"
                            additionalProperties: false
                            nullable: true
                          status: 
                            type: "string"
                            nullable: true
                          type: 
                            type: "string"
                            enum: 
                              - "reply_to_thread"
                              - "new_thread"
                            nullable: true
                          include_signature: 
                            type: "boolean"
                            nullable: true
                          has_personalized_opener: 
                            type: "boolean"
                            nullable: true
                          personalized_opener_fallback_option: 
                            type: "string"
                            nullable: true
                          generic_personalized_opener: 
                            type: "string"
                            nullable: true
                          unique_scheduled: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_delivered: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_bounced: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_opened: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_replied: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          bounce_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          open_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          reply_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          demo_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_demoed: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_clicked: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          click_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_unsubscribed: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          opt_out_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_hard_bounced: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          unique_spam_blocked: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          hard_bounce_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                          spam_block_rate: 
                            anyOf: 
                              - 
                                type: "number"
                              - 
                                type: "string"
                                enum: 
                                  - "loading"
                            nullable: true
                        required: 
                          - "id"
                        additionalProperties: false
                      nullable: true
                    emailer_templates: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          name: 
                            type: "string"
                            nullable: true
                          user_id: 
                            type: "string"
                            nullable: true
                          subject: 
                            type: "string"
                            nullable: true
                          archived: 
                            type: "boolean"
                            nullable: true
                          created_at: 
                            type: "string"
                            nullable: true
                          global: 
                            type: "boolean"
                            nullable: true
                          body_text: 
                            type: "string"
                            nullable: true
                          folder_id: 
                            type: "string"
                            nullable: true
                          body_html: 
                            type: "string"
                            nullable: true
                          creation_type: 
                            type: "string"
                            nullable: true
                          label_ids: 
                            type: "array"
                            items: 
                              type: "string"
                            nullable: true
                          prompt_id: 
                            type: "string"
                            nullable: true
                        required: 
                          - "id"
                        additionalProperties: false
                      nullable: true
                  required: 
                    - "emailer_campaign"
                  additionalProperties: false
    /v1/emailer_campaigns/{id}/add_contact_ids: 
      post: 
        operationId: "postEmailerCampaignAddContactIds"
        tags: 
          - "add_contact_ids"
        requestBody: 
          content: 
            application/json: 
              schema: 
                type: "object"
                properties: 
                  contact_ids: 
                    type: "array"
                    items: 
                      type: "string"
                  emailer_campaign_id: 
                    type: "string"
                  send_email_from_email_account_id: 
                    type: "string"
                    nullable: true
                  userId: 
                    type: "string"
                    nullable: true
                required: 
                  - "contact_ids"
                  - "emailer_campaign_id"
                additionalProperties: false
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    contacts: 
                      type: "array"
                      items: 
                        type: "object"
                        properties: 
                          id: 
                            type: "string"
                          emailer_campaign_ids: 
                            type: "array"
                            items: 
                              type: "string"
                          contact_campaign_statuses: 
                            type: "array"
                            items: 
                              type: "object"
                              properties: 
                                id: 
                                  type: "string"
                                send_email_from_email_account_id: 
                                  type: "string"
                                emailer_campaign_id: 
                                  type: "string"
                              required: 
                                - "id"
                                - "send_email_from_email_account_id"
                                - "emailer_campaign_id"
                              additionalProperties: true
                        required: 
                          - "id"
                          - "contact_campaign_statuses"
                        additionalProperties: true
                  required: 
                    - "contacts"
                  additionalProperties: true
    /v1/emailer_steps: 
      post: 
        operationId: "postEmailerStep"
        tags: 
          - "emailer_steps"
        requestBody: 
          content: 
            application/json: 
              schema: 
                type: "object"
                properties: 
                  emailer_campaign_id: 
                    type: "string"
                  priority: 
                    type: "string"
                    nullable: true
                  position: 
                    type: "number"
                    nullable: true
                  type: 
                    type: "string"
                    enum: 
                      - "auto_email"
                      - "manual_email"
                      - "call"
                      - "action_item"
                      - "linkedin_step_message"
                      - "linkedin_step_connect"
                      - "linkedin_step_view_profile"
                      - "linkedin_step_interact_post"
                  wait_mode: 
                    type: "string"
                    enum: 
                      - "second"
                      - "minute"
                      - "hour"
                      - "day"
                  wait_time: 
                    type: "number"
                    nullable: true
                  exact_datetime: 
                    type: "string"
                    nullable: true
                  note: 
                    type: "string"
                    nullable: true
                required: 
                  - "emailer_campaign_id"
                  - "type"
                  - "wait_mode"
                additionalProperties: false
        parameters: []
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    emailer_step: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        emailer_campaign_id: 
                          type: "string"
                        position: 
                          type: "number"
                          nullable: true
                        wait_time: 
                          type: "number"
                          nullable: true
                        type: 
                          type: "string"
                          enum: 
                            - "auto_email"
                            - "manual_email"
                            - "call"
                            - "action_item"
                            - "linkedin_step_message"
                            - "linkedin_step_connect"
                            - "linkedin_step_view_profile"
                            - "linkedin_step_interact_post"
                        wait_mode: 
                          type: "string"
                          enum: 
                            - "second"
                            - "minute"
                            - "hour"
                            - "day"
                        note: 
                          type: "string"
                          nullable: true
                        max_emails_per_day: 
                          type: "number"
                          nullable: true
                        exact_datetime: 
                          type: "string"
                          nullable: true
                        priority: 
                          type: "string"
                          nullable: true
                        auto_skip_in_x_days: 
                          type: "number"
                          nullable: true
                        counts: 
                          type: "object"
                          properties: 
                            active: 
                              type: "number"
                              nullable: true
                            paused: 
                              type: "number"
                              nullable: true
                            finished: 
                              type: "number"
                              nullable: true
                            bounced: 
                              type: "number"
                              nullable: true
                            spam_blocked: 
                              type: "number"
                              nullable: true
                            hard_bounced: 
                              type: "number"
                              nullable: true
                            not_sent: 
                              type: "number"
                              nullable: true
                          additionalProperties: false
                          nullable: true
                      required: 
                        - "id"
                        - "emailer_campaign_id"
                        - "type"
                        - "wait_mode"
                      additionalProperties: false
                    emailer_touch: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        emailer_step_id: 
                          type: "string"
                          nullable: true
                        emailer_template_id: 
                          type: "string"
                          nullable: true
                        emailer_template: 
                          type: "object"
                          properties: 
                            id: 
                              type: "string"
                            name: 
                              type: "string"
                              nullable: true
                            user_id: 
                              type: "string"
                              nullable: true
                            subject: 
                              type: "string"
                              nullable: true
                            archived: 
                              type: "boolean"
                              nullable: true
                            created_at: 
                              type: "string"
                              nullable: true
                            global: 
                              type: "boolean"
                              nullable: true
                            body_text: 
                              type: "string"
                              nullable: true
                            folder_id: 
                              type: "string"
                              nullable: true
                            body_html: 
                              type: "string"
                              nullable: true
                            creation_type: 
                              type: "string"
                              nullable: true
                            label_ids: 
                              type: "array"
                              items: 
                                type: "string"
                              nullable: true
                            prompt_id: 
                              type: "string"
                              nullable: true
                          required: 
                            - "id"
                          additionalProperties: false
                          nullable: true
                        status: 
                          type: "string"
                          nullable: true
                        type: 
                          type: "string"
                          enum: 
                            - "reply_to_thread"
                            - "new_thread"
                          nullable: true
                        include_signature: 
                          type: "boolean"
                          nullable: true
                        has_personalized_opener: 
                          type: "boolean"
                          nullable: true
                        personalized_opener_fallback_option: 
                          type: "string"
                          nullable: true
                        generic_personalized_opener: 
                          type: "string"
                          nullable: true
                        unique_scheduled: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_delivered: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_opened: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_replied: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        open_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        reply_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        demo_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_demoed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_clicked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        click_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_unsubscribed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        opt_out_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_hard_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_spam_blocked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        hard_bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        spam_block_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                      required: 
                        - "id"
                      additionalProperties: false
                      nullable: true
                    emailer_template: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        name: 
                          type: "string"
                          nullable: true
                        user_id: 
                          type: "string"
                          nullable: true
                        subject: 
                          type: "string"
                          nullable: true
                        archived: 
                          type: "boolean"
                          nullable: true
                        created_at: 
                          type: "string"
                          nullable: true
                        global: 
                          type: "boolean"
                          nullable: true
                        body_text: 
                          type: "string"
                          nullable: true
                        folder_id: 
                          type: "string"
                          nullable: true
                        body_html: 
                          type: "string"
                          nullable: true
                        creation_type: 
                          type: "string"
                          nullable: true
                        label_ids: 
                          type: "array"
                          items: 
                            type: "string"
                          nullable: true
                        prompt_id: 
                          type: "string"
                          nullable: true
                      required: 
                        - "id"
                      additionalProperties: false
                      nullable: true
                  required: 
                    - "emailer_step"
                  additionalProperties: false
    /v1/emailer_steps/{id}: 
      delete: 
        operationId: "deleteEmailerStep"
        tags: 
          - "emailer_steps"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    emailer_step: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        deleted: 
                          type: "boolean"
                      required: 
                        - "id"
                        - "deleted"
                      additionalProperties: false
                  required: 
                    - "emailer_step"
                  additionalProperties: false
    /v1/emailer_touches/{id}: 
      put: 
        operationId: "putEmailerTouch"
        tags: 
          - "emailer_touches"
        requestBody: 
          content: 
            application/json: 
              schema: 
                type: "object"
                properties: 
                  id: 
                    type: "string"
                  emailer_step_id: 
                    type: "string"
                    nullable: true
                  emailer_template: 
                    type: "object"
                    properties: 
                      id: 
                        type: "string"
                      name: 
                        type: "string"
                        nullable: true
                      user_id: 
                        type: "string"
                        nullable: true
                      subject: 
                        type: "string"
                        nullable: true
                      archived: 
                        type: "boolean"
                        nullable: true
                      created_at: 
                        type: "string"
                        nullable: true
                      global: 
                        type: "boolean"
                        nullable: true
                      body_text: 
                        type: "string"
                        nullable: true
                      folder_id: 
                        type: "string"
                        nullable: true
                      body_html: 
                        type: "string"
                        nullable: true
                      creation_type: 
                        type: "string"
                        nullable: true
                      label_ids: 
                        type: "array"
                        items: 
                          type: "string"
                        nullable: true
                      prompt_id: 
                        type: "string"
                        nullable: true
                    required: 
                      - "id"
                    additionalProperties: false
                    nullable: true
                  type: 
                    type: "string"
                    enum: 
                      - "reply_to_thread"
                      - "new_thread"
                    nullable: true
                required: 
                  - "id"
                additionalProperties: false
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    emailer_touch: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        emailer_step_id: 
                          type: "string"
                          nullable: true
                        emailer_template_id: 
                          type: "string"
                          nullable: true
                        emailer_template: 
                          type: "object"
                          properties: 
                            id: 
                              type: "string"
                            name: 
                              type: "string"
                              nullable: true
                            user_id: 
                              type: "string"
                              nullable: true
                            subject: 
                              type: "string"
                              nullable: true
                            archived: 
                              type: "boolean"
                              nullable: true
                            created_at: 
                              type: "string"
                              nullable: true
                            global: 
                              type: "boolean"
                              nullable: true
                            body_text: 
                              type: "string"
                              nullable: true
                            folder_id: 
                              type: "string"
                              nullable: true
                            body_html: 
                              type: "string"
                              nullable: true
                            creation_type: 
                              type: "string"
                              nullable: true
                            label_ids: 
                              type: "array"
                              items: 
                                type: "string"
                              nullable: true
                            prompt_id: 
                              type: "string"
                              nullable: true
                          required: 
                            - "id"
                          additionalProperties: false
                          nullable: true
                        status: 
                          type: "string"
                          nullable: true
                        type: 
                          type: "string"
                          enum: 
                            - "reply_to_thread"
                            - "new_thread"
                          nullable: true
                        include_signature: 
                          type: "boolean"
                          nullable: true
                        has_personalized_opener: 
                          type: "boolean"
                          nullable: true
                        personalized_opener_fallback_option: 
                          type: "string"
                          nullable: true
                        generic_personalized_opener: 
                          type: "string"
                          nullable: true
                        unique_scheduled: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_delivered: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_opened: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_replied: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        open_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        reply_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        demo_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_demoed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_clicked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        click_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_unsubscribed: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        opt_out_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_hard_bounced: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        unique_spam_blocked: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        hard_bounce_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                        spam_block_rate: 
                          anyOf: 
                            - 
                              type: "number"
                            - 
                              type: "string"
                              enum: 
                                - "loading"
                          nullable: true
                      required: 
                        - "id"
                      additionalProperties: false
                  required: 
                    - "emailer_touch"
                  additionalProperties: false
    /v1/contacts/{id}: 
      get: 
        operationId: "getContact"
        tags: 
          - "contacts"
        parameters: 
          - 
            name: "id"
            in: "path"
            schema: 
              type: "string"
            required: true
        responses: 
          200: 
            description: "Success"
            content: 
              application/json: 
                schema: 
                  type: "object"
                  properties: 
                    contact: 
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                        emailer_campaign_ids: 
                          type: "array"
                          items: 
                            type: "string"
                        contact_campaign_statuses: 
                          type: "array"
                          items: 
                            type: "object"
                            properties: 
                              id: 
                                type: "string"
                              send_email_from_email_account_id: 
                                type: "string"
                              emailer_campaign_id: 
                                type: "string"
                            required: 
                              - "id"
                              - "send_email_from_email_account_id"
                              - "emailer_campaign_id"
                            additionalProperties: true
                      required: 
                        - "id"
                        - "contact_campaign_statuses"
                      additionalProperties: true
                  required: 
                    - "contact"
                  additionalProperties: false

