NEXT_PUBLIC_SUPAGLUE_HOST=http://localhost:8080

# you should change this when you deploy to production
SUPAGLUE_API_ENCRYPTION_SECRET=myververysecuresecret

# this is very permissive, you should change it to your domain when you deploy to production
SUPAGLUE_CORS_ORIGIN=*

# Uncomment this line to disable anonymous error reporting
# SUPAGLUE_DISABLE_ERROR_REPORTING=true

# Uncomment this line to disable anonymous analytics
# SUPAGLUE_DISABLE_ANALYTICS=true
