@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

div[role='banner'] {
  background-color: #0000a5;
  color: white;
}

dl dd{
  margin-bottom: 1.5em;
  margin-left: 0;
}

dl dt {
  font-size: 1.5em;
  font-weight: bold;
}

dl dd:last-child {
  margin-bottom: 0;
}

li > a.menu__link {
  justify-content: flex-start;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/activecampaign"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/activecampaign.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/capsule"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/capsule.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/copper"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/copper.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/hubspot"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/hubspot.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/keap"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/keap.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/ms_dynamics_365_sales"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/ms_dynamics_365_sales.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/pipedrive"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/pipedrive.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/salesforce"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/salesforce.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/zendesk_sell"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zendesk_sell.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/connectors/zoho_crm"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zoho_crm.png);
  background-repeat: no-repeat;
}

/* API Menu Items */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-darkest);
}
