@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

div[role='banner'] {
  background-color: #0000a5;
  color: white;
}

dl dd{
  margin-bottom: 1.5em;
  margin-left: 0;
}

dl dt {
  font-size: 1.5em;
  font-weight: bold;
}

dl dd:last-child {
  margin-bottom: 0;
}

li > a.menu__link {
  justify-content: flex-start;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/apollo"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/apollo.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/hubspot"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/hubspot.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/marketo"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/marketo.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/ms_dynamics_365_sales"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/ms_dynamics_365_sales.svg);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/outreach"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/outreach.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/pipedrive"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/pipedrive.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/salesforce"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/salesforce.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/salesloft"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/salesloft.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zoho_crm"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zoho_crm.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/gong"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/gong.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/asana"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/asana.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/box"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/box.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/dropbox"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/dropbox.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zoho"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zoho_crm.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/gmail"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/gmail.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/google_calendar"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/gcal.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/google_drive"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/google_drive.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/intercom"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/intercom.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/linkedin"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/linkedin.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/linear"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/linear.svg);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/messenger"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/messenger.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/onedrive"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/onedrive.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/outlook"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/outlook.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/salesforce_marketing_cloud_account_engagement"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/salesforce.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/slack"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/slack.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/teams"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/ms_teams.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/whatsapp"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/whatsapp.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zendesk"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zendesk.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zoom"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zoom.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/amplitude"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/amplitude.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/6sense"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/6sense.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/chargebee"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/chargebee.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/clearbit"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/clearbit.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/google-analytics"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/google-analytics.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/mixpanel"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/mixpanel.webp);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/segment"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/segment.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/stripe"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/stripe.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zoominfo"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zoominfo.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/providers/zuora"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/connector_icons/zuora.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/bigquery"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/bigquery.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/mongodb"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/mongodb.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/postgres"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/postgres.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/s3"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/s3.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/snowflake"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/snowflake.png);
  background-repeat: no-repeat;
}

.theme-doc-sidebar-item-category-level-1 a[href$="/destinations/mysql"]::before {
  padding-right: 0.25rem;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
  background-image: url(/static/img/destination_icons/mysql.png);
  background-repeat: no-repeat;
}

/* API Menu Items */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.event > .menu__link::before {
  content: "event";
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-menu-color);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-darkest);
}

.hidden {
  display: none;
}
