openapi: 3.0.3
info:
  version: 0.13.13
  title: Data Listing API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Provider API documentation for Data Listing. You can use this API to list standard and custom objects to sync them from Supaglue to your database.

    :::info
    **NOTE**: To use the Data Listing API you need to use the Supaglue Managed Destination and select [Standard Objects](https://docs.supaglue.com/next/platform/objects/overview#configuration) to be synced.
    :::

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/data/v2
    ```
servers:
  - url: 'https://api.supaglue.io/data/v2'
    description: Supaglue API
tags:
  - name: Salesforce
    description: Salesforce is a CRM Provider.
  - name: Hubspot
    description: Hubspot is a CRM Provider.
paths:
  #
  # Salesforce
  #
  '/salesforce/contacts':
    $ref: paths/salesforce/contacts.yaml
  '/salesforce/accounts':
    $ref: paths/salesforce/accounts.yaml

  #
  # Hubspot
  #
  '/hubspot/contacts':
    $ref: paths/hubspot/contacts.yaml
  '/hubspot/companies':
    $ref: paths/hubspot/companies.yaml
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    #
    # Salesforce
    #
    salesforce_contact:
      $ref: ./components/schemas/objects/salesforce/contact.yaml
    salesforce_account:
      $ref: ./components/schemas/objects/salesforce/account.yaml

    #
    # Hubspot
    #
    hubspot_contact:
      $ref: ./components/schemas/objects/hubspot/contact.yaml
    hubspot_company:
      $ref: ./components/schemas/objects/hubspot/company.yaml

    #
    # Shared
    #
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ../../common/components/parameters/header/x-provider-name.yaml
    modified_after:
      $ref: ../../common/components/parameters/query/modified_after.yaml
    modified_before:
      $ref: ../../common/components/parameters/query/modified_before.yaml
    created_after:
      $ref: ../../common/components/parameters/query/created_after.yaml
    created_before:
      $ref: ../../common/components/parameters/query/created_before.yaml
    include_deleted_data:
      $ref: ../../common/components/parameters/query/include_deleted_data.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
