openapi: 3.0.3
info:
  version: 0.13.13
  title: Data API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Data Listing API documentation. You can use this API to list objects to sync them from Supaglue to your database.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/data/v2
    ```
servers:
  - url: 'https://api.supaglue.io/data/v2'
    description: Supaglue API
tags:
  - name: Salesforce
    description: Salesforce is a CRM Provider.
paths:
  '/salesforce/contacts':
    $ref: paths/salesforce/contacts.yaml
  '/salesforce/accounts':
    $ref: paths/salesforce/accounts.yaml
  '/salesforce/list_views/{object_type}':
    $ref: paths/salesforce/list_views@{object_type}.yaml
  '/salesforce/list_views/{object_type}/{list_id}':
    $ref: paths/salesforce/list_views@{object_type}@{list_view_id}.yaml
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    salesforce_contact:
      $ref: ./components/schemas/objects/salesforce/contact.yaml
    salesforce_account:
      $ref: ./components/schemas/objects/salesforce/account.yaml
    salesforce_list_view_metadata:
      $ref: ./components/schemas/objects/salesforce/list_view_metadata.yaml
    salesforce_list_view_membership:
      $ref: ./components/schemas/objects/salesforce/list_view_membership.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ../../common/components/parameters/header/x-provider-name.yaml
