openapi: 3.0.3
info:
  version: 0.14.4
  title: Actions API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Actions API documentation. Actions are helpful APIs scoped to Providers. They range from handling CRUD operations on objects to performing multi-step workflows.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/actions/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/actions/v2'
    description: Supaglue API
paths:
  '/salesforce/list_views/{object_type}':
    $ref: paths/salesforce/list_views@{object_type}.yaml
  '/salesforce/list_views/{object_type}/{list_id}':
    $ref: paths/salesforce/list_views@{object_type}@{list_view_id}.yaml
  '/passthrough':
    $ref: paths/passthrough.yaml
tags:
  - name: Passthrough
    description: Passthrough operations to underlying providers.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    salesforce_list_view_metadata:
      $ref: ./components/schemas/objects/salesforce/list_view_metadata.yaml
    salesforce_list_view_membership:
      $ref: ./components/schemas/objects/salesforce/list_view_membership.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
