{
  "openapi": "3.0.3",
  "info": {
    "version": "0.14.0",
    "title": "Actions API",
    "contact": {
      "name": "Supaglue",
      "email": "docs@supaglue.com",
      "url": "https://supaglue.com"
    },
    "description": "#### Introduction\n\nWelcome to the Actions API documentation. Actions are helpful APIs scoped to Providers. They range from handling CRUD operations on objects to performing multi-step workflows.\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)\n\n#### Base API URL\n```\nhttps://api.supaglue.io/actions/v2\n```\n"
  },
  "servers": [
    {
      "url": "https://api.supaglue.io/actions/v2",
      "description": "Supaglue API"
    }
  ],
  "paths": {
    "/salesforce/list_views/{object_type}": {
      "get": {
        "operationId": "listListViewss",
        "summary": "List list views",
        "tags": [
          "Salesforce"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "123"
            },
            "description": "Number of results to return per page. (Max: 1000)"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw"
            },
            "description": "The pagination cursor value"
          }
        ],
        "responses": {
          "200": {
            "description": "List Views",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/salesforce_list_view_metadata"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "name": "object_type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "contact",
              "account",
              "lead",
              "opportunity"
            ]
          }
        }
      ]
    },
    "/salesforce/list_views/{object_type}/{list_id}": {
      "get": {
        "operationId": "getListViewMembership",
        "summary": "Get list view membership",
        "tags": [
          "Salesforce"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1salesforce~1list_views~1%7Bobject_type%7D/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1salesforce~1list_views~1%7Bobject_type%7D/get/parameters/1"
          }
        ],
        "responses": {
          "200": {
            "description": "List Views",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/salesforce_list_view_membership"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/salesforce_list_view_metadata"
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "name": "object_type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "contact",
              "account",
              "lead",
              "opportunity"
            ]
          }
        },
        {
          "name": "list_view_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "220e715a-0cbc-4d2d-8420-cd729f12f094"
          }
        }
      ]
    },
    "/passthrough": {
      "post": {
        "operationId": "sendPassthroughRequest",
        "tags": [
          "Passthrough"
        ],
        "summary": "Send passthrough request",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Send request directly to a provider",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "The path to send the request to (do not pass the domain)"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "example": "GET"
                  },
                  "headers": {
                    "type": "object",
                    "description": "Headers to pass to downstream",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "query": {
                    "type": "object",
                    "description": "Query parameters to pass to downstream",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "body": {
                    "description": "Body to pass to downstream (can be string or JSON object)",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true
                      }
                    ]
                  }
                },
                "required": [
                  "path",
                  "method"
                ],
                "example": {
                  "path": "/crm/v3/schemas",
                  "method": "GET"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passthrough response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The full URL the request was went to",
                      "example": "https://customcrm.com/api/cars"
                    },
                    "status": {
                      "type": "number",
                      "description": "Status code from the downstream",
                      "example": 200
                    },
                    "headers": {
                      "type": "object",
                      "description": "The response headers from the downstream",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "body": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "integer"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array",
                          "items": {
                            "additionalProperties": true
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ],
                      "description": "The body from the downstream"
                    }
                  },
                  "required": [
                    "url",
                    "status",
                    "headers"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "url": "https://api.hubapi.com/crm/v3/schemas",
                      "status": 200,
                      "headers": {
                        "x-hubspot-ratelimit-remaining": 99
                      },
                      "body": {
                        "results": [
                          {
                            "labels": {
                              "singular": "Contract",
                              "plural": "Contracts"
                            },
                            "requiredProperties": [
                              "name",
                              "description"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    }
  },
  "tags": [
    {
      "name": "Passthrough",
      "description": "Passthrough operations to underlying providers."
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key to allow developers to access the API"
      }
    },
    "schemas": {
      "salesforce_list_view_metadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": 12345,
            "description": "The unique identifier for this list view."
          },
          "object_type": {
            "type": "string",
            "enum": [
              "contact",
              "account",
              "lead",
              "opportunity"
            ]
          },
          "name": {
            "type": "string",
            "example": "my-list",
            "description": "The developer name of this list view."
          },
          "label": {
            "type": "string",
            "example": "My List",
            "description": "The label for this list view."
          },
          "raw_data": {
            "type": "object",
            "description": "The raw data for this list view.",
            "additionalProperties": true,
            "example": {
              "describeUrl": "/services/data/v58.0/sobjects/Account/listviews/00BD0000005WcBeMAK/describe",
              "developerName": "NewThisWeek",
              "id": "00BD0000005WcBeMAK",
              "label": "New This Week",
              "resultsUrl": "/services/data/v58.0/sobjects/Account/listviews/00BD0000005WcBeMAK/results",
              "soqlCompatible": true,
              "url": "/services/data/v58.0/sobjects/Account/listviews/00BD0000005WcBeMAK"
            }
          }
        },
        "required": [
          "id",
          "name",
          "label",
          "raw_data"
        ]
      },
      "salesforce_list_view_membership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for a member of this list view."
          },
          "raw_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "The raw data for this list view membership.",
            "example": {
              "columns": [
                {
                  "fieldNameOrPath": "Id",
                  "value": "0012800000bbzSAAAY"
                },
                {
                  "fieldNameOrPath": "Email",
                  "value": "jdoe@example.com"
                },
                {
                  "fieldNameOrPath": "FirstName",
                  "value": "John"
                },
                {
                  "fieldNameOrPath": "LastName",
                  "value": "Doe"
                },
                {
                  "fieldNameOrPath": "CreatedDate",
                  "value": "Fri Aug 01 21:15:46 GMT 2014"
                },
                {
                  "fieldNameOrPath": "LastModifiedDate",
                  "value": "Fri Aug 01 21:15:46 GMT 2014"
                },
                {
                  "fieldNameOrPath": "SystemModstamp",
                  "value": "Fri Aug 01 21:15:46 GMT 2014"
                }
              ]
            }
          }
        },
        "required": [
          "id",
          "raw_data"
        ]
      },
      "pagination": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ=="
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9"
          },
          "total_count": {
            "type": "number",
            "example": 100
          }
        },
        "required": [
          "next",
          "previous",
          "total_count"
        ]
      },
      "errors": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "detail": {
              "type": "string",
              "example": "name is a required field on model."
            },
            "problem_type": {
              "type": "string",
              "example": "MISSING_REQUIRED_FIELD"
            },
            "source": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string",
                  "example": "irure consectetur"
                }
              }
            },
            "title": {
              "type": "string",
              "example": "Missing Required Field"
            }
          },
          "example": [
            {
              "detail": "name is a required field on model.",
              "problem_type": "MISSING_REQUIRED_FIELD",
              "source": {
                "pointer": "irure consectetur"
              },
              "title": "Missing Required Field"
            },
            {
              "detail": "name is a required field on model.",
              "problem_type": "MISSING_REQUIRED_FIELD",
              "source": {
                "pointer": "et"
              },
              "title": "Missing Required Field"
            }
          ]
        }
      },
      "warnings": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "detail": {
              "type": "string",
              "example": "An unrecognized field, age, was passed in with request data."
            },
            "problem_type": {
              "type": "string",
              "example": "UNRECOGNIZED_FIELD"
            },
            "source": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string",
                  "example": "Lorem ipsum"
                }
              }
            },
            "title": {
              "type": "string",
              "example": "Unrecognized Field"
            }
          }
        },
        "example": [
          {
            "detail": "An unrecognized field, age, was passed in with request data.",
            "problem_type": "UNRECOGNIZED_FIELD",
            "source": {
              "pointer": "Lorem ipsum"
            },
            "title": "Unrecognized Field"
          },
          {
            "detail": "An unrecognized field, age, was passed in with request data.",
            "problem_type": "UNRECOGNIZED_FIELD",
            "source": {
              "pointer": "in"
            },
            "title": "Unrecognized Field"
          }
        ]
      }
    },
    "parameters": {
      "x-customer-id": {
        "name": "x-customer-id",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "my-customer-1"
        },
        "description": "The customer ID that uniquely identifies the customer in your application",
        "required": true
      },
      "x-provider-name": {
        "name": "x-provider-name",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "salesforce"
        },
        "description": "The provider name",
        "required": true
      }
    }
  }
}