openapi: 3.0.3
info:
  version: 0.13.8
  title: Actions API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Actions API documentation. You can use this API to perform CRUD on Entity or Object records in third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/actions/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/actions/v2'
    description: Supaglue API
paths:
  '/entities/{entity_name}':
    $ref: paths/entities/@{entity_name}.yaml
  '/entities/{entity_name}/{record_id}':
    $ref: paths/entities/@{entity_name}@{record_id}.yaml
  '/objects/standard/{object_name}':
    $ref: paths/objects/standard@{object_name}.yaml
  '/objects/standard/{object_name}/{record_id}':
    $ref: paths/objects/standard@{object_name}@{record_id}.yaml
  '/associations':
    $ref: paths/associations.yaml
  '/passthrough':
    $ref: paths/passthrough.yaml
tags:
  - name: EntityRecords
    description: An `Entity Record` is a record of an `Entity`.
  - name: ObjectRecords
    description: An `Object Record` is a record of an `Object`.
  - name: Passthrough
    description: Passthrough operations to underlying providers.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    entity_record:
      $ref: ./components/schemas/objects/entity_record.yaml
    simple_entity:
      $ref: ./components/schemas/objects/simple_entity.yaml
    standard_object_record:
      $ref: ./components/schemas/objects/standard_object_record.yaml
    custom_object_record:
      $ref: ./components/schemas/objects/custom_object_record.yaml
    create_update_entity_record:
      $ref: ./components/schemas/create_update_entity_record.yaml
    created_entity_record:
      $ref: ./components/schemas/created_entity_record.yaml
    create_update_standard_object_record:
      $ref: ./components/schemas/create_update_standard_object_record.yaml
    created_standard_object_record:
      $ref: ./components/schemas/created_standard_object_record.yaml
    create_update_custom_object_record:
      $ref: ./components/schemas/create_update_custom_object_record.yaml
    created_custom_object_record:
      $ref: ./components/schemas/created_custom_object_record.yaml
    create_update_association:
      $ref: ./components/schemas/create_update_association.yaml
    association:
      $ref: ./components/schemas/objects/association.yaml
    simple_entity_record:
      $ref: ./components/schemas/objects/simple_entity_record.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
