openapi: 3.0.3
info:
  version: 0.7.6
  title: Supaglue CRM API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    # Introduction

    Welcome to the Supaglue unified CRM API documentation. You can use this API to read data that has been synced into Supaglue from third-party providers.

    ### Base API URL

    ```
    http://localhost:8080/crm/v1
    ```
externalDocs:
  description: Try out our API in Postman!
  url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'http://localhost:8080/crm/v1'
    description: Local Supaglue API
paths:
  '/accounts':
    $ref: paths/accounts.yaml
  '/accounts/{account_id}':
    $ref: paths/accounts@{account_id}.yaml
  '/contacts':
    $ref: paths/contacts.yaml
  '/contacts/{contact_id}':
    $ref: paths/contacts@{contact_id}.yaml
  '/leads':
    $ref: paths/leads.yaml
  '/leads/{lead_id}':
    $ref: paths/leads@{lead_id}.yaml
  '/events':
    $ref: paths/events.yaml
  '/events/{event_id}':
    $ref: paths/events@{event_id}.yaml
  '/opportunities':
    $ref: paths/opportunities.yaml
  '/opportunities/{opportunity_id}':
    $ref: paths/opportunities@{opportunity_id}.yaml
  '/passthrough':
    $ref: paths/passthrough.yaml
tags:
  - name: Accounts
    description: The `Account` Common Model is used to represent a "company" in CRMs.
  - name: Contacts
    description: The `Contact` Common Model is used to represent a "contact" in CRMs.
  - name: Leads
    description: The `Lead` Common Model is used to represent a "potential customer" in CRMs.
  - name: Opportunities
    description: The `Opportunity` Common Model is used to represent a "deal opportunity" in CRMs.
  - name: Users
    description: The `User` Common Model is used to represent a "user" that can login to CRMs.
  - name: Passthrough
    description: Passthrough operations to underlying providers.
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: ../common/components/securitySchemes/x-api-key.yaml
  schemas:
    account:
      $ref: ./components/schemas/objects/account.yaml
    create_update_account:
      $ref: ./components/schemas/create_update_account.yaml
    contact:
      $ref: ./components/schemas/objects/contact.yaml
    create_update_contact:
      $ref: ./components/schemas/create_update_contact.yaml
    event:
      $ref: ./components/schemas/objects/event.yaml
    create_update_event:
      $ref: ./components/schemas/create_update_event.yaml
    lead:
      $ref: ./components/schemas/objects/lead.yaml
    create_update_lead:
      $ref: ./components/schemas/create_update_lead.yaml
    opportunity:
      $ref: ./components/schemas/objects/opportunity.yaml
    user:
      $ref: ./components/schemas/objects/user.yaml
    create_update_opportunity:
      $ref: ./components/schemas/create_update_opportunity.yaml
    logs:
      $ref: ../common/components/schemas/logs.yaml
    errors:
      $ref: ../common/components/schemas/errors.yaml
    warnings:
      $ref: ../common/components/schemas/warnings.yaml
    addresses:
      $ref: ./components/schemas/objects/addresses.yaml
    email_addresses:
      $ref: ./components/schemas/objects/email_addresses.yaml
    phone_numbers:
      $ref: ./components/schemas/objects/phone_numbers.yaml
    pagination:
      $ref: ../common/components/schemas/pagination.yaml
    custom_fields:
      $ref: ./components/schemas/objects/custom_fields.yaml
    filter:
      $ref: ./components/schemas/filters.yaml#/filter
    lifecycle_stage:
      $ref: ./components/schemas/objects/lifecycle_stage.yaml
  parameters:
    x-customer-id:
      $ref: ../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ../common/components/parameters/header/x-provider-name.yaml
