openapi: 3.0.3
info:
  version: 0.13.1
  title: Metadata API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Metadata API documentation. You can use this API to operate on Object metadata in third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/metadata/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/metadata/v2'
    description: Supaglue API
paths:
  '/objects/standard':
    $ref: paths/objects@standard.yaml
  '/objects/custom':
    $ref: paths/objects@custom.yaml
  '/objects/custom/{custom_object_id}':
    $ref: paths/objects@custom@{custom_object_id}.yaml
  '/association-types':
    $ref: paths/association-types.yaml
  '/properties':
    $ref: paths/properties.yaml
tags:
  - name: CustomObjects
    description: A `Custom Object` is an object that is defined by the user.
  - name: StandardObjects
    description: A `Standard Object` is an object that is available by default in the provider.
  - name: AssociationTypes
    description: An `Association Type` is a type of association between two entities.
  - name: Properties
    description: A `Property` is a field in a Provider Object.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    property:
      $ref: ./components/schemas/objects/property.yaml
    standard_object:
      $ref: ./components/schemas/objects/standard_object.yaml
    custom_object:
      $ref: ./components/schemas/objects/custom_object.yaml
    simple_custom_object:
      $ref: ./components/schemas/objects/simple_custom_object.yaml
    create_update_custom_object:
      $ref: ./components/schemas/create_update_custom_object.yaml
    create_update_association_type:
      $ref: ./components/schemas/create_update_association_type.yaml
    object_type:
      $ref: ./components/schemas/objects/object_type.yaml
    association_type_cardinality:
      $ref: ./components/schemas/objects/association_type_cardinality.yaml
    association_type_cardinality_or_unknown:
      $ref: ./components/schemas/objects/association_type_cardinality_or_unknown.yaml
    custom_object_field:
      $ref: ./components/schemas/objects/custom_object_field.yaml
    association_type:
      $ref: ./components/schemas/objects/association_type.yaml
    object:
      $ref: ./components/schemas/objects/object.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
