openapi: 3.0.3
info:
  version: 0.13.1
  title: Metadata API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Metadata API documentation for CRM. You can use this API to operate on metadata across multiple third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/metadata/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/metadata/v2'
    description: Supaglue API
paths:
  '/objects/standard':
    $ref: paths/objects@standard.yaml
  '/properties':
    $ref: paths/properties.yaml
  '/properties/{object_name}':
    $ref: paths/properties@{object_name}.yaml
  '/properties/{object_name}/register':
    $ref: paths/properties@{object_name}@register.yaml
  '/properties/{object_name}/{property_name}':
    $ref: paths/properties@{object_name}@{property_name}.yaml
tags:
  - name: StandardObjects
    description: A `Standard Object` is an object that is available by default in the provider.
  - name: Properties
    description: A `Property` is a field in a Provider Object.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    property_deprecated:
      $ref: ./components/schemas/objects/property_deprecated.yaml
    property_unified:
      $ref: ./components/schemas/objects/property_unified.yaml
    property_type:
      $ref: ./components/schemas/objects/property_type.yaml
    picklist_option:
      $ref: ./components/schemas/objects/picklist_option.yaml
    create_property:
      $ref: ./components/schemas/create_property.yaml
    update_property:
      $ref: ./components/schemas/update_property.yaml
    standard_object:
      $ref: ./components/schemas/objects/standard_object.yaml
    object_type:
      $ref: ./components/schemas/objects/object_type.yaml
    object:
      $ref: ./components/schemas/objects/object.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
