.selectTrigger {
  composes: button from '../TriggerSyncButton/TriggerSyncButton.module.css';
  background-color: white;
  color: hsl(206 24.0% 9.0%); /* radix slate-12 */
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  gap: 1rem;
  height: 2.25rem;
  justify-content: space-between;
  line-height: 1;
  padding: 0 1rem;
  width: 50%;
}
.selectTrigger:hover {
  background-color: hsl(206 30.0% 98.8%); /* radix slate-1 */
}
.selectTrigger:disabled {
  background-color: hsl(209 13.3% 95.3%); /* radix slate-3 */
}
.selectTrigger:disabled svg {
  opacity: 0;
}

.selectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.selectItem {
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding: 0 2rem 0 2rem;
  position: relative;
  user-select: none;
}

.selectItem[data-highlighted] {
  /* bg-blue-200 */
	background-color: hsl(224 87.1% 92.0%); /* radix indigo-5 */
}

.selectItem[data-state='checked'] {
  /* bg-blue-500 */
  background-color: hsl(224 81.9% 87.8%); /* radix indigo-6 */
}

.selectViewport {
  padding: 0.375rem;
}

.selectLoading {
  font-style: italic;
  color: gray;
  font-size: 14px;
}
