openapi: 3.0.3
info:
  version: 0.12.12
  title: Supaglue Object Actions API
  contact:
    name: Supaglue
  description: |
    #### Introduction

    Welcome to the Supaglue Object Actions API documentation. You can use this API to perform CRUD on Object records in third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/object_actions/standard/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/object_actions/v2'
    description: Supaglue API
paths:
  '/standard/{object_name}':
    $ref: paths/standard@{object_name}.yaml
  '/standard/{object_name}/{record_id}':
    $ref: paths/standard@{object_name}@{record_id}.yaml
tags:
  - name: ObjectRecords
    description: An `Object Record` is a record of an `Object`.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    standard_object_record:
      $ref: ./components/schemas/objects/standard_object_record.yaml
    create_update_standard_object_record:
      $ref: ./components/schemas/create_update_standard_object_record.yaml
    created_standard_object_record:
      $ref: ./components/schemas/created_standard_object_record.yaml
    logs:
      $ref: ../../common/components/schemas/logs.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
