{
  "openapi": "3.0.3",
  "info": {
    "version": "0.25.6",
    "title": "Unified Ticketing API (Preview)",
    "contact": {
      "name": "Supaglue",
      "email": "docs@supaglue.com",
      "url": "https://supaglue.com"
    },
    "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n#### Introduction\n\nWelcome to the Unified API (Ticketing) documentation. You can use this API to write to third-party providers.\n\n[View common schema for Ticketing](https://docs.supaglue.com/platform/common-schemas/ticketing)\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)\n\n#### Base API URL\n```\nhttps://api.supaglue.io/ticketing/v2\n```\n"
  },
  "servers": [
    {
      "url": "https://api.supaglue.io/ticketing/v2",
      "description": "Supaglue API"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Account objects.\n",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "AccountsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/account"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/accounts/{account_id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns an Account object with the given id.\n",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "AccountData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List collections",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Collection objects.\n",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "CollectionsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/collection"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/collections/{collection_id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get collection",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a Collection object with the given id.\n",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "CollectionData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/collection"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "collection_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/collections/{parent_id}/users": {
      "get": {
        "operationId": "listCollectionUsers",
        "summary": "List collection users",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of User objects.\n",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "CollectionUsersData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/user"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "parent_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of User objects.\n",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "UsersData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/user"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a User object with the given id.\n",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "UserData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Contact objects.\n",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "ContactsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/contact"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a Contact object with the given id.\n",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "ContactData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Team objects.\n",
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "TeamsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/team"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/teams/{team_id}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get team",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns an Team object with the given id.\n",
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "TeamData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/team"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "team_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "List tickets",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Ticket objects.\n",
        "tags": [
          "Tickets"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "TicketsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ticket"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTicket",
        "summary": "Create ticket",
        "description": "Creates a Ticket object with the given values.",
        "tags": [
          "Tickets"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_ticket"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/tickets/{ticket_id}": {
      "get": {
        "operationId": "getTicket",
        "summary": "Get ticket",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns an Ticket object with the given id.\n",
        "tags": [
          "Tickets"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "TicketData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticket"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTicket",
        "summary": "Update ticket",
        "description": "Updates a Ticket object with the given values.",
        "tags": [
          "Tickets"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/update_ticket"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "ticket_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Comment objects.\n",
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "CommentsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/comment"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create comment",
        "description": "Creates a Comment object with the given values.",
        "tags": [
          "Comments"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "string",
                        "example": "17a54124-287f-494d-965e-3c5b330c9a68"
                      },
                      "contact": {
                        "type": "string",
                        "example": "dde3fb16-b8eb-483d-81c4-b78100816f15"
                      },
                      "body": {
                        "type": "string",
                        "nullable": true,
                        "example": "When will these integrations be done? You all should use Supaglue."
                      },
                      "html_body": {
                        "type": "string",
                        "nullable": true,
                        "example": "When will these integrations be done? You all should use <b>Supaglue<b>."
                      },
                      "ticket": {
                        "type": "string",
                        "nullable": true,
                        "example": "fb8c55b6-1cb8-4b4c-9fb6-17924231619d"
                      },
                      "is_private": {
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "user",
                      "body",
                      "ticket",
                      "is_private"
                    ]
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/comments/{comment_id}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get comment",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a Comment object with the given id.\n",
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "CommentData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/comment"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "comment_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Tag objects.\n",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "TagsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tag"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/tags/{tag_id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get tag",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a Tag object with the given id.\n",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "TagData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "tag_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/attachments": {
      "get": {
        "operationId": "listAttachments",
        "summary": "List attachments",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns a list of Attachment objects.\n",
        "tags": [
          "Attachments"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "AttachmentsData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/attachment"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAttachment",
        "summary": "Create attachment",
        "description": "Creates a Attachment object with the given values.",
        "tags": [
          "Attachments"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "example": "Screenshot.png"
                      },
                      "ticket": {
                        "type": "string",
                        "example": "0958cbc6-6040-430a-848e-aafacbadf4ae"
                      },
                      "file_url": {
                        "type": "string",
                        "example": "http://alturl.com/p749b"
                      },
                      "content_type": {
                        "type": "string",
                        "example": "jpeg"
                      },
                      "uploaded_by": {
                        "type": "string",
                        "example": "28b54125-287f-494d-965e-3c5b330c9a68"
                      }
                    },
                    "required": [
                      "file_name",
                      "ticket",
                      "file_url",
                      "content_type",
                      "uploaded_by"
                    ]
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/attachments/{attachment_id}": {
      "get": {
        "operationId": "getAttachment",
        "summary": "Get attachment",
        "description": ":::note\nThis feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.\n:::\n\nReturns an Attachment object with the given id.\n",
        "tags": [
          "Attachments"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "attachmentData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/attachment"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "attachment_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "The Account object is used to represent the account that a ticket is associated with.\n\nThe account is a company that may be a customer. This does not represent the company that is receiving the ticket.\n"
    },
    {
      "name": "Collections",
      "description": "The Collection object is used to represent collections of tickets. Collections may include other collections as sub collections.\n"
    },
    {
      "name": "Users",
      "description": "The User object is used to represent an employee within a company.\n"
    },
    {
      "name": "Contacts",
      "description": "The Contact object is used to represent the customer, lead, or external user that a ticket is associated with.\n"
    },
    {
      "name": "Teams",
      "description": "The Team object is used to represent a team within the company receiving the ticket.\n"
    },
    {
      "name": "Tickets",
      "description": "The Ticket object is used to represent a ticket or a task within a system.\n"
    },
    {
      "name": "Comments",
      "description": "The Comment object is used to represent a comment on a ticket.\n"
    },
    {
      "name": "Tags",
      "description": "The Tag object is used to represent a tag or label for a ticket.\n"
    },
    {
      "name": "Attachments",
      "description": "The Attachment object is used to represent an attachment for a ticket.\n"
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key to allow developers to access the API"
      }
    },
    "schemas": {
      "pagination": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ=="
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9"
          },
          "total_count": {
            "type": "number",
            "example": 100
          }
        },
        "required": [
          "next",
          "previous"
        ]
      },
      "errors": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the instance of the error. Provide this to support when contacting Supaglue.",
              "example": "9366efb4-8fb1-4a28-bfb0-8d6f9cc6b5c5"
            },
            "detail": {
              "type": "string",
              "description": "A detailed description of the error.",
              "example": "Property values were not valid: [{\"isValid\":false,\"message\":\"Property \\\"__about_us\\\" does not exist\",\"error\":\"PROPERTY_DOESNT_EXIST\",\"name\":\"__about_us\",\"localizedErrorMessage\":\"Property \\\"__about_us\\\" does not exist\"}]"
            },
            "problem_type": {
              "type": "string",
              "description": "The Supaglue error code associated with the error.",
              "example": "MISSING_REQUIRED_FIELD",
              "deprecated": true
            },
            "title": {
              "type": "string",
              "description": "A brief description of the error. The schema and type of message will vary by Provider.",
              "example": "Property values were not valid\n"
            },
            "code": {
              "type": "string",
              "description": "The Supaglue error code associated with the error.",
              "example": "MISSING_REQUIRED_FIELD"
            },
            "status": {
              "type": "string",
              "description": "The HTTP status code associated with the error.",
              "example": "400"
            },
            "meta": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "cause": {
                  "type": "object",
                  "description": "The cause of the error. Usually the underlying error from the remote Provider.",
                  "example": {
                    "code": 400,
                    "body": {
                      "status": "error",
                      "message": "Property values were not valid: [{\"isValid\":false,\"message\":\"Property \\\"__about_us\\\" does not exist\",\"error\":\"PROPERTY_DOESNT_EXIST\",\"name\":\"__about_us\",\"localizedErrorMessage\":\"Property \\\"__about_us\\\" does not exist\"}]",
                      "correlationId": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                      "category": "VALIDATION_ERROR"
                    },
                    "headers": {
                      "access-control-allow-credentials": "false",
                      "cf-cache-status": "DYNAMIC",
                      "cf-ray": "8053d17b9dae9664-SJC",
                      "connection": "close",
                      "content-length": "361",
                      "content-type": "application/json;charset=utf-8",
                      "date": "Mon, 11 Sep 2023 23:51:22 GMT",
                      "nel": "{\"success_fraction\":0.01,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                      "report-to": "{\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v3?s=FgwuXObO%2Fz6ahUJKsxjDLaXTWjooJ8tB0w4%2B%2BKaulGStx0FGkn1PoJoOx2KrFMfihzNdfAqikq7CmgbdlmwKB8hkmp3eTb68qpg10LXFlRgiSqRhbWM7yYSfo8CXmPBc\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                      "server": "cloudflare",
                      "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
                      "vary": "origin, Accept-Encoding",
                      "x-content-type-options": "nosniff",
                      "x-envoy-upstream-service-time": "91",
                      "x-evy-trace-listener": "listener_https",
                      "x-evy-trace-route-configuration": "listener_https/all",
                      "x-evy-trace-route-service-name": "envoyset-translator",
                      "x-evy-trace-served-by-pod": "iad02/hubapi-td/envoy-proxy-6c94986c56-9xsh2",
                      "x-evy-trace-virtual-host": "all",
                      "x-hubspot-correlation-id": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                      "x-hubspot-ratelimit-interval-milliseconds": "10000",
                      "x-hubspot-ratelimit-max": "100",
                      "x-hubspot-ratelimit-remaining": "99",
                      "x-hubspot-ratelimit-secondly": "10",
                      "x-hubspot-ratelimit-secondly-remaining": "9",
                      "x-request-id": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                      "x-trace": "2B1B4386362759B6A4C34802AD168B803DDC1BE770000000000000000000"
                    }
                  }
                },
                "origin": {
                  "type": "string",
                  "enum": [
                    "remote-provider",
                    "supaglue"
                  ],
                  "description": "The origin of the error.",
                  "example": "remote-provider"
                },
                "application_name": {
                  "type": "string",
                  "description": "The name of the application that generated the error.",
                  "example": "MyCompany Production"
                }
              },
              "required": [
                "origin"
              ],
              "additionalProperties": true
            }
          },
          "required": [
            "id",
            "detail",
            "problem_type",
            "title",
            "code",
            "status",
            "meta"
          ],
          "example": [
            {
              "meta": {
                "cause": {
                  "code": 400,
                  "body": {
                    "status": "error",
                    "message": "Property values were not valid: [{\"isValid\":false,\"message\":\"Property \\\"__about_us\\\" does not exist\",\"error\":\"PROPERTY_DOESNT_EXIST\",\"name\":\"__about_us\",\"localizedErrorMessage\":\"Property \\\"__about_us\\\" does not exist\"}]",
                    "correlationId": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                    "category": "VALIDATION_ERROR"
                  },
                  "headers": {
                    "access-control-allow-credentials": "false",
                    "cf-cache-status": "DYNAMIC",
                    "cf-ray": "8053d17b9dae9664-SJC",
                    "connection": "close",
                    "content-length": "361",
                    "content-type": "application/json;charset=utf-8",
                    "date": "Mon, 11 Sep 2023 23:51:22 GMT",
                    "nel": "{\"success_fraction\":0.01,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "report-to": "{\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v3?s=FgwuXObO%2Fz6ahUJKsxjDLaXTWjooJ8tB0w4%2B%2BKaulGStx0FGkn1PoJoOx2KrFMfihzNdfAqikq7CmgbdlmwKB8hkmp3eTb68qpg10LXFlRgiSqRhbWM7yYSfo8CXmPBc\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "server": "cloudflare",
                    "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
                    "vary": "origin, Accept-Encoding",
                    "x-content-type-options": "nosniff",
                    "x-envoy-upstream-service-time": "91",
                    "x-evy-trace-listener": "listener_https",
                    "x-evy-trace-route-configuration": "listener_https/all",
                    "x-evy-trace-route-service-name": "envoyset-translator",
                    "x-evy-trace-served-by-pod": "iad02/hubapi-td/envoy-proxy-6c94986c56-9xsh2",
                    "x-evy-trace-virtual-host": "all",
                    "x-hubspot-correlation-id": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                    "x-hubspot-ratelimit-interval-milliseconds": "10000",
                    "x-hubspot-ratelimit-max": "100",
                    "x-hubspot-ratelimit-remaining": "99",
                    "x-hubspot-ratelimit-secondly": "10",
                    "x-hubspot-ratelimit-secondly-remaining": "9",
                    "x-request-id": "ac94252c-90b5-45d2-ad1d-9a9f7651d7d2",
                    "x-trace": "2B1B4386362759B6A4C34802AD168B803DDC1BE770000000000000000000"
                  }
                }
              },
              "detail": "Property values were not valid: [{\"isValid\":false,\"message\":\"Property \\\"__about_us\\\" does not exist\",\"error\":\"PROPERTY_DOESNT_EXIST\",\"name\":\"__about_us\",\"localizedErrorMessage\":\"Property \\\"__about_us\\\" does not exist\"}]",
              "problem_type": "MISSING_REQUIRED_FIELD",
              "title": "Property values were not valid\n",
              "code": "MISSING_REQUIRED_FIELD",
              "status": "400",
              "id": "9366efb4-8fb1-4a28-bfb0-8d6f9cc6b5c5"
            }
          ]
        }
      },
      "warnings": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "detail": {
              "type": "string"
            },
            "problem_type": {
              "type": "string"
            },
            "title": {
              "type": "string"
            }
          }
        }
      },
      "created_record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "account": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Waystar Royco"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "waystar-royco.com"
            }
          }
        },
        "required": [
          "name",
          "domains"
        ]
      },
      "contact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Cousin Greg"
          },
          "email_address": {
            "type": "string",
            "example": "greg@waystar-royco.com"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "example": "5108890293"
          },
          "details": {
            "type": "string",
            "nullable": true,
            "example": "Executive Assistant to Tom Wambsgans"
          },
          "account": {
            "type": "string",
            "nullable": true,
            "example": "8998e1ed-1c76-4b64-9097-9d37ee88bf6f"
          }
        },
        "required": [
          "name",
          "email_address"
        ]
      },
      "collection": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Q1 Platform"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "For tracking all tasks related to Platform for Q1"
          },
          "collection_type": {
            "type": "string",
            "nullable": true,
            "example": "LIST"
          },
          "parent_collection": {
            "type": "string",
            "nullable": true,
            "example": "681b0fd7-40e6-4b91-8e23-2814872090be"
          },
          "access_level": {
            "type": "string",
            "nullable": true,
            "example": "PUBLIC"
          }
        },
        "required": [
          "name"
        ]
      },
      "create_ticket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Please add more integrations"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "17a54124-287f-494d-965e-3c5b330c9a68"
            }
          },
          "creator": {
            "type": "string",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "due_date": {
            "type": "string",
            "example": "2022-10-11T00:00:00Z"
          },
          "status": {
            "type": "string",
            "example": "OPEN"
          },
          "description": {
            "type": "string",
            "example": "Can you please add more integrations? It'll make syncing data much easier!"
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "fb8c55b6-1cb8-4b4c-9fb6-17924231619d"
            }
          },
          "ticket_type": {
            "type": "string",
            "example": "incident"
          },
          "account": {
            "type": "string",
            "example": "0958cbc6-6040-430a-848e-aafacbadf4ae"
          },
          "contact": {
            "type": "string",
            "example": "65c345ba-6870-4974-87ba-dd31509c367a"
          },
          "parent_ticket": {
            "type": "string",
            "example": "75b33d04-30d2-4f3e-be45-27838bc94342"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "enterprise"
            }
          },
          "completed_at": {
            "type": "string",
            "example": "2021-12-09T00:00:00Z"
          },
          "ticket_url": {
            "type": "string",
            "example": "https://thirdpartysoftware.com/project/3/issue/1"
          },
          "priority": {
            "type": "string",
            "example": "HIGH"
          }
        },
        "required": [
          "name",
          "creator"
        ]
      },
      "update_ticket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Please add more integrations"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "17a54124-287f-494d-965e-3c5b330c9a68"
            }
          },
          "creator": {
            "type": "string",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "due_date": {
            "type": "string",
            "example": "2022-10-11T00:00:00Z"
          },
          "status": {
            "type": "string",
            "example": "OPEN"
          },
          "description": {
            "type": "string",
            "example": "Can you please add more integrations? It'll make syncing data much easier!"
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "fb8c55b6-1cb8-4b4c-9fb6-17924231619d"
            }
          },
          "ticket_type": {
            "type": "string",
            "example": "incident"
          },
          "account": {
            "type": "string",
            "example": "0958cbc6-6040-430a-848e-aafacbadf4ae"
          },
          "contact": {
            "type": "string",
            "example": "65c345ba-6870-4974-87ba-dd31509c367a"
          },
          "parent_ticket": {
            "type": "string",
            "example": "75b33d04-30d2-4f3e-be45-27838bc94342"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "enterprise"
            }
          },
          "completed_at": {
            "type": "string",
            "example": "2021-12-09T00:00:00Z"
          },
          "ticket_url": {
            "type": "string",
            "example": "https://thirdpartysoftware.com/project/3/issue/1"
          },
          "priority": {
            "type": "string",
            "example": "HIGH"
          }
        },
        "required": [
          "name",
          "creator"
        ]
      },
      "ticket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Please add more integrations"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "17a54124-287f-494d-965e-3c5b330c9a68"
            }
          },
          "creator": {
            "type": "string",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "due_date": {
            "type": "string",
            "example": "2022-10-11T00:00:00Z"
          },
          "status": {
            "type": "string",
            "example": "OPEN"
          },
          "description": {
            "type": "string",
            "example": "Can you please add more integrations? It'll make syncing data much easier!"
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "fb8c55b6-1cb8-4b4c-9fb6-17924231619d"
            }
          },
          "ticket_type": {
            "type": "string",
            "example": "incident"
          },
          "account": {
            "type": "string",
            "example": "0958cbc6-6040-430a-848e-aafacbadf4ae"
          },
          "contact": {
            "type": "string",
            "example": "65c345ba-6870-4974-87ba-dd31509c367a"
          },
          "parent_ticket": {
            "type": "string",
            "example": "75b33d04-30d2-4f3e-be45-27838bc94342"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "enterprise"
            }
          },
          "completed_at": {
            "type": "string",
            "example": "2021-12-09T00:00:00Z"
          },
          "ticket_url": {
            "type": "string",
            "example": "https://thirdpartysoftware.com/project/3/issue/1"
          },
          "priority": {
            "type": "string",
            "example": "HIGH"
          }
        },
        "required": [
          "name",
          "creator"
        ]
      },
      "user": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Hil Feig"
          },
          "email_address": {
            "type": "string",
            "example": "help@supaglue.com"
          },
          "is_active": {
            "type": "boolean",
            "example": false
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "example": "681b0fd7-40e6-4b91-8e23-2814872090be"
            }
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "example": "https://supaglue.io/user_profile_pic.png"
          }
        },
        "required": [
          "name",
          "email_address",
          "is_active"
        ]
      },
      "comment": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string",
            "example": "17a54124-287f-494d-965e-3c5b330c9a68"
          },
          "contact": {
            "type": "string",
            "example": "dde3fb16-b8eb-483d-81c4-b78100816f15"
          },
          "body": {
            "type": "string",
            "nullable": true,
            "example": "When will these integrations be done? You all should use Supaglue."
          },
          "html_body": {
            "type": "string",
            "nullable": true,
            "example": "When will these integrations be done? You all should use <b>Supaglue<b>."
          },
          "ticket": {
            "type": "string",
            "nullable": true,
            "example": "fb8c55b6-1cb8-4b4c-9fb6-17924231619d"
          },
          "is_private": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "user",
          "body",
          "ticket",
          "is_private"
        ]
      },
      "tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Ticketing API"
          }
        },
        "required": [
          "name"
        ]
      },
      "team": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Platform"
          },
          "decription": {
            "type": "string",
            "nullable": true,
            "example": "Platform and Integrations Team"
          }
        },
        "required": [
          "name"
        ]
      },
      "attachment": {
        "type": "object",
        "properties": {
          "file_name": {
            "type": "string",
            "example": "Screenshot.png"
          },
          "ticket": {
            "type": "string",
            "example": "0958cbc6-6040-430a-848e-aafacbadf4ae"
          },
          "file_url": {
            "type": "string",
            "example": "http://alturl.com/p749b"
          },
          "content_type": {
            "type": "string",
            "example": "jpeg"
          },
          "uploaded_by": {
            "type": "string",
            "example": "28b54125-287f-494d-965e-3c5b330c9a68"
          }
        },
        "required": [
          "file_name",
          "ticket",
          "file_url",
          "content_type",
          "uploaded_by"
        ]
      }
    },
    "parameters": {
      "x-customer-id": {
        "name": "x-customer-id",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "example": "my-customer-1",
        "description": "The customer ID that uniquely identifies the customer in your application",
        "required": true
      },
      "x-provider-name": {
        "name": "x-provider-name",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "example": "salesforce",
        "description": "The provider name",
        "required": true
      },
      "modified_after": {
        "name": "modified_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "If provided, will only return objects modified after this datetime. Datetime must be in ISO 8601 format and URI encoded.",
        "example": "2023-02-23T00:00:00Z"
      },
      "modified_before": {
        "name": "modified_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2023-02-23T00:00:00Z",
        "description": "If provided, will only return objects modified before this datetime. Datetime must be in ISO 8601 format and URI encoded."
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2023-02-23T00:00:00Z",
        "description": "If provided, will only return objects created after this datetime. Datetime must be in ISO 8601 format and URI encoded."
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2023-02-23T00:00:00Z",
        "description": "If provided, will only return objects created before this datetime. Datetime must be in ISO 8601 format and URI encoded."
      },
      "include_deleted_data": {
        "name": "include_deleted_data",
        "in": "query",
        "schema": {
          "type": "boolean"
        },
        "example": true,
        "description": "Whether to include data that was deleted in providers."
      },
      "include_raw_data": {
        "name": "include_raw_data",
        "in": "query",
        "schema": {
          "type": "boolean"
        },
        "description": "Whether to include raw data fetched from the 3rd party provider.",
        "example": true
      },
      "page_size": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "example": 123,
        "description": "Number of results to return per page. (Max: 1000)"
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
        "description": "The pagination cursor value"
      }
    },
    "responses": {
      "badRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "internalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "notFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "notImplemented": {
        "description": "Not implemented",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "remoteProviderError": {
        "description": "Remote provider error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "unprocessableEntity": {
        "description": "Unprocessable entity",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    }
  }
}