.button {
  composes: button from '../TriggerSyncButton/TriggerSyncButton.module.css';
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 8rem;
  display: flex;
  justify-content: center;
}
