{
  "openapi": "3.0.3",
  "info": {
    "version": "0.16.11",
    "title": "Unified CRM API",
    "contact": {
      "name": "Supaglue",
      "email": "docs@supaglue.com",
      "url": "https://supaglue.com"
    },
    "description": "#### Introduction\n\nWelcome to the Unified API (CRM) documentation. You can use this API to write to multiple third-party providers within the CRM category.\n\n[View common schema for CRM](https://docs.supaglue.com/platform/common-schemas/crm)\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)\n\n#### Base API URL\n```\nhttps://api.supaglue.io/crm/v2\n```\n"
  },
  "servers": [
    {
      "url": "https://api.supaglue.io/crm/v2",
      "description": "Supaglue API"
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create account",
        "tags": [
          "Accounts"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_account"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          },
          {
            "$ref": "#/components/parameters/read_from_cache"
          },
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/account"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/accounts/_upsert": {
      "post": {
        "operationId": "upsertAccount",
        "summary": "Upsert account",
        "description": "Upsert an account. If the account does not exist, it will be created. If the account does exist, it will be updated.\nOnly supported for Salesforce and Hubspot.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_account"
                  },
                  "upsert_on": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "enum": [
                          "domain",
                          "website"
                        ],
                        "description": "The key to upsert on. Only `website` is supported for Salesforce, while both `domain` and `website` are supported for Hubspot."
                      },
                      "values": {
                        "type": "array",
                        "description": "The values to upsert on. If more than one value is provided, it will act as a logical OR. If more than one account is found that matches, then an error will be thrown.",
                        "items": {
                          "type": "string",
                          "example": "mydomain.com"
                        }
                      }
                    },
                    "required": [
                      "key",
                      "values"
                    ]
                  }
                },
                "required": [
                  "record",
                  "upsert_on"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account upserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/accounts/{account_id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "addresses": [
                        {
                          "address_type": "BILLING",
                          "city": "San Francisco",
                          "country": "CX",
                          "postal_code": "94107",
                          "state": "CA",
                          "street1": "525 Brannan",
                          "street2": null
                        },
                        {
                          "address_type": "BILLING",
                          "city": "San Francisco",
                          "country": "US",
                          "postal_code": "94107",
                          "state": "CA",
                          "street1": "525 Brannan",
                          "street2": null
                        }
                      ],
                      "description": "Integration API",
                      "id": 1234,
                      "industry": "API's",
                      "last_activity_at": "2022-02-10T00:00:00Z",
                      "name": "Supaglue",
                      "number_of_employees": 276000,
                      "owner_id": "9377fd4d-d420-4e0b-93ea-789078a3eab4",
                      "phone_numbers": [
                        {
                          "phone_number": "+14151234567",
                          "phone_number_type": "mobile"
                        }
                      ],
                      "created_at": "2023-02-27T00:00:00Z",
                      "updated_at": "2023-02-27T00:00:00Z",
                      "website": "https://supaglue.com/"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAccount",
        "summary": "Update account",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_account"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
          }
        }
      ]
    },
    "/contacts": {
      "post": {
        "operationId": "createContact",
        "summary": "Create contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_contact"
                  }
                },
                "required": [
                  "record"
                ]
              },
              "example": {
                "record": {
                  "first_name": "George",
                  "last_activity_at": "2022-02-10T00:00:00Z",
                  "last_name": "Xing",
                  "account_id": "64571bff-48ea-4469-9fa0-ee1a0bab38bd"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          },
          {
            "$ref": "#/components/parameters/read_from_cache"
          },
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/contact"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/contacts/_search": {
      "post": {
        "operationId": "searchContacts",
        "summary": "Search contacts",
        "description": "Search contacts by a filter.\nSupport:\n\n| Provider    | Search By       |\n| ----------- | --------------- |\n| Hubspot     | Email           |\n| Salesforce  | Email           |\n| Pipedrive   | (Not Supported) |\n| MS Dynamics | (Not Supported) |\n",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "The key to search on. Only `email` is supported for all providers."
                      },
                      "value": {
                        "type": "string",
                        "description": "The value to search on.",
                        "example": "hello@example.com"
                      }
                    },
                    "required": [
                      "key",
                      "value"
                    ]
                  }
                },
                "required": [
                  "filter"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated Contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/contact"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/contacts/_upsert": {
      "post": {
        "operationId": "upsertContact",
        "summary": "Upsert contact",
        "description": "Upsert a contact. If the contact does not exist, it will be created. If the contact does exist, it will be updated.\nOnly supported for Salesforce, Hubspot, and Pipedrive.\n",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_contact"
                  },
                  "upsert_on": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "The key to upsert on. Only `email` is supported for all providers."
                      },
                      "values": {
                        "type": "array",
                        "description": "The values to upsert on. If more than one value is provided, it will act as a logical OR. If more than one account is found that matches, then an error will be thrown.",
                        "items": {
                          "type": "string",
                          "example": "hello@example.com"
                        }
                      }
                    },
                    "required": [
                      "key",
                      "values"
                    ]
                  }
                },
                "required": [
                  "record",
                  "upsert_on"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact upserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_contact"
                  }
                },
                "required": [
                  "record"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "record": {
                      "first_name": "George",
                      "last_name": "Xing",
                      "account_id": "0ce05511-adbc-4144-a049-6631c7ea3b04"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
          }
        }
      ]
    },
    "/leads": {
      "post": {
        "operationId": "createLead",
        "summary": "Create lead",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_lead"
                  }
                },
                "required": [
                  "record"
                ]
              },
              "example": {
                "record": {
                  "company": "Supaglue",
                  "first_name": "George",
                  "last_name": "Xing",
                  "lead_source": "API Blogger",
                  "title": "Co-Founder"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/leads/_upsert": {
      "post": {
        "operationId": "upsertLead",
        "summary": "Upsert lead",
        "description": "Upsert a lead. If the lead does not exist, it will be created. If the lead does exist, it will be updated.\nOnly supported for Salesforce.\n",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_lead"
                  },
                  "upsert_on": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "The key to upsert on. Only `email` is supported."
                      },
                      "values": {
                        "type": "array",
                        "description": "The values to upsert on. If more than one value is provided, it will act as a logical OR. If more than one account is found that matches, then an error will be thrown.",
                        "items": {
                          "type": "string",
                          "example": "hello@example.com"
                        }
                      }
                    },
                    "required": [
                      "key",
                      "values"
                    ]
                  }
                },
                "required": [
                  "record",
                  "upsert_on"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead upserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/leads/_search": {
      "post": {
        "operationId": "searchLeads",
        "summary": "Search leads",
        "description": "Search leads by a filter.\nSupport:\n\n| Provider    | Search By       |\n| ----------- | --------------- |\n| Hubspot     | Email           |\n| Salesforce  | Email           |\n| Pipedrive   | (Not Supported) |\n| MS Dynamics | (Not Supported) |\n",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "The key to search on. Only `email` is supported for all providers."
                      },
                      "value": {
                        "type": "string",
                        "description": "The value to search on.",
                        "example": "hello@example.com"
                      }
                    },
                    "required": [
                      "key",
                      "value"
                    ]
                  }
                },
                "required": [
                  "filter"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated Leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/lead"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/leads/{lead_id}": {
      "get": {
        "operationId": "getLead",
        "summary": "Get lead",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lead"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLead",
        "summary": "Update lead",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_lead"
                  }
                },
                "required": [
                  "record"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "record": {
                      "company": "Supaglue",
                      "first_name": "George",
                      "last_name": "Xing",
                      "lead_source": "API Blogger",
                      "title": "Co-Founder"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "lead_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "82de27cb-6f8c-4278-b783-82d1d916eddc"
          }
        }
      ]
    },
    "/opportunities": {
      "post": {
        "operationId": "createOpportunity",
        "summary": "Create opportunity",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_opportunity"
                  }
                },
                "required": [
                  "record"
                ]
              },
              "example": {
                "record": {
                  "amount": 100000,
                  "close_date": "2023-02-27T00:00:00Z",
                  "description": "Wants to use open source unified API for third-party integrations",
                  "name": "Needs Integrations",
                  "stage": "Closed Won",
                  "account_id": "109c88c0-7bf4-4cd8-afbc-b51f9432ca0b"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opportunity created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/opportunities/{opportunity_id}": {
      "get": {
        "operationId": "getOpportunity",
        "summary": "Get opportunity",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/opportunity"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "account": {
                        "id": "a329053d-bf86-4b82-8356-9e897aa7dacc"
                      },
                      "amount": 100000,
                      "close_date": "2023-02-27T00:00:00Z",
                      "description": "Wants to use open source unified API for third-party integrations",
                      "id": 1234,
                      "last_activity_at": "2023-02-27T00:00:00Z",
                      "name": "Needs third-party integrations",
                      "owner": "93b0c2b5-26a8-4b92-b4e5-05d764eb1119",
                      "created_at": "2023-02-27T00:00:00Z",
                      "updated_at": "2023-02-27T00:00:00Z",
                      "stage": "Closed Won"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateOpportunity",
        "summary": "Update opportunity",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_opportunity"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "opportunity_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "c9f58083-a370-47b5-ad02-99160ea20372"
          }
        }
      ]
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": "The common schema User maps to the following 3rd-party provider objects:\n\n| Provider  | Remote object ID  | \n| --------- | ----------------- | \n| Hubspot   | V3 Owner          | \n| Dynamics  | Azure System User | \n| Intercom  | Admin             |\n",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/include_raw_data"
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
          }
        }
      ]
    },
    "/custom_objects/{object_name}/records": {
      "post": {
        "operationId": "createCustomObjectRecord",
        "summary": "Create custom object record",
        "tags": [
          "CustomObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Create custom object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_custom_object_record"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom Object Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCustomObjectRecords",
        "summary": "List custom object records",
        "tags": [
          "CustomObjects"
        ],
        "description": "List custom object records\nNote: This endpoint will only work if a Sync is setup with the Supaglue managed destination.\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Custom Objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/custom_object_record"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/object_name"
        }
      ]
    },
    "/custom_objects/{object_name}/records/{record_id}": {
      "patch": {
        "operationId": "updateCustomObjectRecord",
        "summary": "Update custom object record",
        "tags": [
          "CustomObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Update custom object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_custom_object_record"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom Object Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getCustomObjectRecord",
        "summary": "Get custom object record",
        "tags": [
          "CustomObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Get custom object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "responses": {
          "200": {
            "description": "Custom Object Record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom_object_record"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/object_name"
        },
        {
          "name": "record_id",
          "in": "path",
          "required": true,
          "description": "The ID of the record to retrieve or update",
          "schema": {
            "type": "string",
            "example": "82de27cb-6f8c-4278-b783-82d1d916eddc"
          }
        }
      ]
    },
    "/standard_objects/{object_name}/records": {
      "post": {
        "operationId": "createStandardObjectRecord",
        "summary": "Create standard object record",
        "tags": [
          "StandardObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Create standard object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_standard_object_record"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Standard Object Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listStandardObjectRecords",
        "summary": "List standard object records",
        "tags": [
          "StandardObjects"
        ],
        "description": "List standard object records\nNote: This endpoint will only work if a Sync is setup with the Supaglue managed destination.\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/modified_after"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Standard Objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/standard_object_record"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/object_name"
        }
      ]
    },
    "/standard_objects/{object_name}/records/{record_id}": {
      "patch": {
        "operationId": "updateStandardObjectRecord",
        "summary": "Update standard object record",
        "tags": [
          "StandardObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Update standard object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/create_update_standard_object_record"
                  }
                },
                "required": [
                  "record"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Standard Object Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "record": {
                      "$ref": "#/components/schemas/created_record"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getStandardObjectRecord",
        "summary": "Get standard object record",
        "tags": [
          "StandardObjects"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Get standard object record\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "responses": {
          "200": {
            "description": "Standard Object Record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/standard_object_record"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/object_name"
        },
        {
          "name": "record_id",
          "in": "path",
          "required": true,
          "description": "The ID of the record to retrieve or update",
          "schema": {
            "type": "string",
            "example": "82de27cb-6f8c-4278-b783-82d1d916eddc"
          }
        }
      ]
    },
    "/associations": {
      "get": {
        "operationId": "listAssociations",
        "tags": [
          "Associations"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List associations for a record and target object",
        "description": "Get a list of associations\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "parameters": [
          {
            "name": "source_record_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "source_object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "target_object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Associations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/association"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "upsertAssociation",
        "summary": "Upsert association",
        "tags": [
          "Associations"
        ],
        "parameters": [],
        "description": "Upsert association\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        |\n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_association"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Association created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "association": {
                      "$ref": "#/components/schemas/association"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/metadata/associations": {
      "get": {
        "operationId": "listAssociationSchemas",
        "tags": [
          "AssociationSchemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List association schemas",
        "description": "Get a list of Association Schemas\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | Yes       | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "parameters": [
          {
            "name": "source_object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "target_object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of Association Schemas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/association_schema"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAssociationSchema",
        "summary": "Create association schema",
        "tags": [
          "AssociationSchemas"
        ],
        "description": "Create an association schema\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n\nNote: When creating a new association schema for Hubspot, Hubspot will also create a default association schema (with an empty name). Either can be used to create associations.\n",
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_association_schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Association Schema created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "association_schema": {
                      "$ref": "#/components/schemas/association_schema"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/metadata/custom_objects": {
      "get": {
        "operationId": "listCustomObjectSchemas",
        "summary": "List custom object schemas",
        "tags": [
          "CustomObjectSchemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "List custom object schemas\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "An array containing the names of Custom Objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomObjectSchema",
        "summary": "Create custom object schema",
        "tags": [
          "CustomObjectSchemas"
        ],
        "parameters": [],
        "description": "Create custom object schema\n\nSupport:\n\n| Provider    | Supported | Notes                                                   |\n| ----------- | --------- | ------------------------------------------------------- |\n| Hubspot     | Yes       | All field types supported except picklist/multipicklist |\n| Salesforce  | No        |                                                         |\n| Pipedrive   | No        |                                                         |\n| MS Dynamics | No        |                                                         |\n",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "object": {
                    "$ref": "#/components/schemas/create_custom_object_schema"
                  }
                },
                "required": [
                  "object"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom Object Schema created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "object": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/metadata/custom_objects/{object_name}": {
      "get": {
        "operationId": "getCustomObjectSchema",
        "summary": "Get custom object schema details",
        "tags": [
          "CustomObjectSchemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Get custom object schema details\n\nSupport:\n\n| Provider    | Supported |\n| ----------- | --------- |\n| Hubspot     | Yes       |\n| Salesforce  | No        | \n| Pipedrive   | No        |\n| MS Dynamics | No        |\n",
        "responses": {
          "200": {
            "description": "CustomObject",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom_object_schema"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCustomObjectSchema",
        "summary": "Update custom object schema",
        "tags": [
          "CustomObjectSchemas"
        ],
        "description": "Update custom object schema\n\nSupport:\n\n| Provider    | Supported | Notes                                                   |\n| ----------- | --------- | ------------------------------------------------------- |\n| Hubspot     | Yes       | All field types supported except picklist/multipicklist |\n| Salesforce  | No        |                                                         |\n| Pipedrive   | No        |                                                         |\n| MS Dynamics | No        |                                                         |\n",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "object": {
                    "$ref": "#/components/schemas/update_custom_object_schema"
                  }
                },
                "required": [
                  "object"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom Object Schema updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "$ref": "#/components/schemas/errors"
                    },
                    "warnings": {
                      "$ref": "#/components/schemas/warnings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/object_name"
        }
      ]
    },
    "/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "List lists",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/remote_provider_page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/object_type"
          }
        ],
        "responses": {
          "200": {
            "description": "List Lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/list_metadata"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "records"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/lists/{list_id}": {
      "get": {
        "operationId": "listListMemberships",
        "summary": "List list memberships",
        "description": "Support:\n\n| Provider   | Object                                      | Common Schema support | Notes                                 |\n| ---------- | ------------------------------------------- | --------------------- | ------------------------------------- |\n| Hubspot    | `contact`                                   | Yes                   | Raw data response from V3 API         |\n| Salesforce | `contact`, `account`, `lead`, `opportunity` | Yes                   | Raw data response from V57.0 REST API |\n",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/remote_provider_page_size"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/object_type"
          }
        ],
        "responses": {
          "200": {
            "description": "List membership",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/list_membership"
                      }
                    },
                    "metadata": {
                      "description": "Metadata about the remote provider list view.",
                      "$ref": "#/components/schemas/list_metadata"
                    }
                  },
                  "required": [
                    "pagination",
                    "records",
                    "metadata"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "list_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "220e715a-0cbc-4d2d-8420-cd729f12f094"
          }
        }
      ]
    },
    "/passthrough": {
      "post": {
        "deprecated": true,
        "operationId": "sendPassthroughRequest",
        "tags": [
          "Passthrough"
        ],
        "summary": "Send passthrough request",
        "security": [
          {
            "x-api-key": []
          }
        ],
        "description": "Send request directly to a provider",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "The path to send the request to (do not pass the domain)"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "example": "GET"
                  },
                  "headers": {
                    "type": "object",
                    "description": "Headers to pass to downstream",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "query": {
                    "type": "object",
                    "description": "Query parameters to pass to downstream",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "body": {
                    "description": "Body to pass to downstream (can be string or JSON object)",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true
                      }
                    ]
                  }
                },
                "required": [
                  "path",
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passthrough response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The full URL the request was went to",
                      "example": "https://customcrm.com/api/cars"
                    },
                    "status": {
                      "type": "number",
                      "description": "Status code from the downstream",
                      "example": 200
                    },
                    "headers": {
                      "type": "object",
                      "description": "The response headers from the downstream",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "body": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "integer"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array",
                          "items": {
                            "additionalProperties": true
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ],
                      "description": "The body from the downstream"
                    }
                  },
                  "required": [
                    "url",
                    "status",
                    "headers"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "url": "https://customcrm.com/api/cars",
                      "status": 200,
                      "headers": {
                        "x-requests-limit": 96
                      },
                      "body": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "The `Account` Common Object represents a \"company\" in CRMs."
    },
    {
      "name": "Contacts",
      "description": "The `Contact` Common Object represents a \"contact\" in CRMs."
    },
    {
      "name": "Leads",
      "description": "The `Lead` Common Object represents a \"potential customer\" in CRMs."
    },
    {
      "name": "Opportunities",
      "description": "The `Opportunity` Common Object represents a \"deal opportunity\" in CRMs."
    },
    {
      "name": "Users",
      "description": "The `User` Common Object represents a \"user\" that can log in to CRMs."
    },
    {
      "name": "Lists",
      "description": "The `List` Object represents a collection of CRM records."
    },
    {
      "name": "CustomObjectSchemas",
      "description": "A `Custom Object Schema` is an object schema defined by the user."
    },
    {
      "name": "CustomObjects",
      "description": "A `Custom Object` is an instance of a `Custom Object Schema`."
    },
    {
      "name": "AssociationSchemas",
      "description": "An `Association Schema` is an object describing an association between two entities."
    },
    {
      "name": "Association",
      "description": "An `Association` is an instance of a relationship between two entities."
    },
    {
      "name": "Passthrough",
      "description": "Passthrough operations to underlying providers."
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key to allow developers to access the API"
      }
    },
    "schemas": {
      "account": {
        "type": "object",
        "properties": {
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Integration API"
          },
          "id": {
            "type": "string",
            "example": 1234
          },
          "industry": {
            "type": "string",
            "nullable": true,
            "example": "API's"
          },
          "last_activity_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Sample Customer"
          },
          "number_of_employees": {
            "type": "integer",
            "nullable": true,
            "example": 276000
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "d8ceb3ff-8b7f-4fa7-b8de-849292f6ca69"
          },
          "phone_numbers": {
            "$ref": "#/components/schemas/phone_numbers"
          },
          "lifecycle_stage": {
            "$ref": "#/components/schemas/lifecycle_stage"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "example": "https://supaglue.com/"
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "is_deleted": {
            "type": "boolean",
            "example": false
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          }
        },
        "required": [
          "addresses",
          "description",
          "id",
          "industry",
          "last_activity_at",
          "name",
          "number_of_employees",
          "owner_id",
          "phone_numbers",
          "website",
          "lifecycle_stage",
          "created_at",
          "updated_at",
          "is_deleted",
          "last_modified_at"
        ]
      },
      "create_update_account": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Integration API"
          },
          "industry": {
            "type": "string",
            "nullable": true,
            "example": "API's"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Sample Customer"
          },
          "number_of_employees": {
            "type": "integer",
            "nullable": true,
            "example": 276000
          },
          "website": {
            "type": "string",
            "nullable": true,
            "example": "https://supaglue.com/"
          },
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "phone_numbers": {
            "$ref": "#/components/schemas/phone_numbers"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
          },
          "lifecycle_stage": {
            "$ref": "#/components/schemas/lifecycle_stage"
          },
          "custom_fields": {
            "$ref": "#/components/schemas/custom_fields"
          }
        }
      },
      "contact": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "nullable": true,
            "example": "fd089246-09b1-4e3b-a60a-7a76314bbcce"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "23e640fe-6105-4a11-a636-3aa6b6c6e762"
          },
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "email_addresses": {
            "$ref": "#/components/schemas/email_addresses"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "example": "George"
          },
          "id": {
            "type": "string",
            "example": 54312
          },
          "last_activity_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "example": "Xing"
          },
          "phone_numbers": {
            "$ref": "#/components/schemas/phone_numbers"
          },
          "lifecycle_stage": {
            "$ref": "#/components/schemas/lifecycle_stage"
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "is_deleted": {
            "type": "boolean",
            "example": false
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "raw_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "account_id",
          "owner_id",
          "description",
          "id",
          "addresses",
          "email_addresses",
          "first_name",
          "last_activity_at",
          "last_name",
          "phone_numbers",
          "lifecycle_stage",
          "created_at",
          "updated_at",
          "is_deleted",
          "last_modified_at"
        ]
      },
      "create_update_contact": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "nullable": true,
            "example": "George"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "example": "Xing"
          },
          "account_id": {
            "type": "string",
            "nullable": true,
            "example": "64571bff-48ea-4469-9fa0-ee1a0bab38bd"
          },
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "email_addresses": {
            "$ref": "#/components/schemas/email_addresses"
          },
          "phone_numbers": {
            "$ref": "#/components/schemas/phone_numbers"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
          },
          "lifecycle_stage": {
            "$ref": "#/components/schemas/lifecycle_stage"
          },
          "custom_fields": {
            "$ref": "#/components/schemas/custom_fields"
          }
        }
      },
      "lead": {
        "type": "object",
        "properties": {
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "example": "Supaglue"
          },
          "converted_account_id": {
            "type": "string",
            "nullable": true,
            "example": "88cc44ca-7a34-4e8b-b0da-51c3aae34daf"
          },
          "converted_account": {
            "$ref": "#/components/schemas/account"
          },
          "converted_contact_id": {
            "type": "string",
            "nullable": true,
            "example": "8c8de778-a219-4d6c-848c-1d57b52149f6"
          },
          "converted_contact": {
            "$ref": "#/components/schemas/contact"
          },
          "converted_date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-27T00:00:00Z"
          },
          "email_addresses": {
            "$ref": "#/components/schemas/email_addresses"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "example": "George"
          },
          "id": {
            "type": "string",
            "example": 54312
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "example": "Xing"
          },
          "lead_source": {
            "type": "string",
            "nullable": true,
            "example": "API Blogger"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "62e5e0f7-becd-4ae2-be82-8b4e1d5ed8a2"
          },
          "phone_numbers": {
            "$ref": "#/components/schemas/phone_numbers"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Co-Founder"
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-10T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-10T00:00:00Z"
          },
          "is_deleted": {
            "type": "boolean",
            "example": false
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          }
        },
        "required": [
          "addresses",
          "company",
          "converted_account_id",
          "converted_contact_id",
          "converted_date",
          "id",
          "last_name",
          "lead_source",
          "owner_id",
          "phone_numbers",
          "title",
          "created_at",
          "updated_at",
          "is_deleted",
          "last_modified_at"
        ]
      },
      "create_update_lead": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string",
            "nullable": true,
            "example": "Supaglue"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "example": "George"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "example": "Xing"
          },
          "lead_source": {
            "type": "string",
            "nullable": true,
            "example": "API Blogger"
          },
          "title": {
            "type": "string",
            "example": "Co-Founder"
          },
          "email_addresses": {
            "$ref": "#/components/schemas/email_addresses"
          },
          "addresses": {
            "$ref": "#/components/schemas/addresses"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
          },
          "converted_contact_id": {
            "type": "string",
            "nullable": true,
            "example": "ad43955d-2b27-4ec3-b38a-0ca07a76d43b"
          },
          "converted_account_id": {
            "type": "string",
            "nullable": true,
            "example": "2e1e6813-0459-47f5-ad4c-3d137c0e1fdd"
          },
          "custom_fields": {
            "$ref": "#/components/schemas/custom_fields"
          }
        }
      },
      "opportunity": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "nullable": true,
            "example": "fd089246-09b1-4e3b-a60a-7a76314bbcce"
          },
          "amount": {
            "type": "integer",
            "nullable": true,
            "example": 100000
          },
          "close_date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-27T00:00:00Z"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Wants to use open source unified API for third-party integrations"
          },
          "id": {
            "type": "string",
            "example": 54312
          },
          "last_activity_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-27T00:00:00Z"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Needs third-party integrations"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "d8ceb3ff-8b7f-4fa7-b8de-849292f6ca69"
          },
          "pipeline": {
            "type": "string",
            "nullable": true
          },
          "stage": {
            "type": "string",
            "nullable": true,
            "example": "Closed Won"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "example": "OPEN"
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-27T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2023-02-27T00:00:00Z"
          },
          "is_deleted": {
            "type": "boolean",
            "example": false
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          }
        },
        "required": [
          "account_id",
          "amount",
          "description",
          "id",
          "last_activity_at",
          "name",
          "owner_id",
          "stage",
          "status",
          "pipeline",
          "created_at",
          "updated_at",
          "is_deleted",
          "last_modified_at"
        ]
      },
      "user": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": 54312
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "George Xing"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "example": "george@supaglue.com"
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          },
          "is_deleted": {
            "type": "boolean",
            "example": false
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-02-27T00:00:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "is_active",
          "created_at",
          "updated_at",
          "is_deleted",
          "last_modified_at"
        ]
      },
      "list_metadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "00BDn00000RHS32MAH",
            "description": "The provider-specific unique identifier for this list."
          },
          "object_type": {
            "type": "string",
            "enum": [
              "contact",
              "account",
              "lead",
              "opportunity"
            ]
          },
          "name": {
            "type": "string",
            "example": "RecentlyViewedContacts",
            "description": "The developer name of this list."
          },
          "label": {
            "type": "string",
            "example": "Recently Viewed Contacts",
            "description": "The label for this list."
          },
          "raw_data": {
            "type": "object",
            "description": "The raw data from the provider for this list.",
            "additionalProperties": true,
            "example": {
              "attributes": {
                "type": "ListView",
                "url": "/services/data/v57.0/sobjects/ListView/00BDn00000RHS32MAH"
              },
              "Id": "00BDn00000RHS32MAH",
              "Name": "Recently Viewed Contacts",
              "DeveloperName": "RecentlyViewedContacts",
              "NamespacePrefix": null,
              "SobjectType": "Contact",
              "IsSoqlCompatible": true,
              "CreatedDate": "2023-05-26T22:25:47.000+0000",
              "CreatedById": "005Dn0000079fN6IAI",
              "LastModifiedDate": "2023-05-26T22:25:47.000+0000",
              "LastModifiedById": "005Dn0000079fN6IAI",
              "SystemModstamp": "2023-05-26T22:25:47.000+0000",
              "LastViewedDate": null,
              "LastReferencedDate": null
            }
          }
        },
        "required": [
          "id",
          "object_type",
          "name",
          "label",
          "raw_data"
        ]
      },
      "list_membership": {
        "oneOf": [
          {
            "title": "contact",
            "$ref": "#/components/schemas/contact"
          },
          {
            "title": "account",
            "$ref": "#/components/schemas/account"
          },
          {
            "title": "lead",
            "$ref": "#/components/schemas/lead"
          },
          {
            "title": "opportunity",
            "$ref": "#/components/schemas/opportunity"
          }
        ]
      },
      "create_update_opportunity": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "nullable": true,
            "example": 100000
          },
          "close_date": {
            "type": "string",
            "nullable": true,
            "example": "2022-02-10T00:00:00Z"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Wants to use open source unified API for third-party integrations"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Needs Integrations"
          },
          "stage": {
            "type": "string",
            "example": "Closed Won"
          },
          "account_id": {
            "type": "string",
            "nullable": true,
            "example": "64571bff-48ea-4469-9fa0-ee1a0bab38bd"
          },
          "owner_id": {
            "type": "string",
            "nullable": true,
            "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
          },
          "pipeline": {
            "type": "string",
            "nullable": true
          },
          "custom_fields": {
            "$ref": "#/components/schemas/custom_fields"
          }
        }
      },
      "custom_object_schema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "ticket"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Ticket object"
          },
          "labels": {
            "type": "object",
            "properties": {
              "singular": {
                "type": "string",
                "example": "Ticket"
              },
              "plural": {
                "type": "string",
                "example": "Tickets"
              }
            },
            "required": [
              "singular",
              "plural"
            ]
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/custom_object_field"
            }
          }
        },
        "required": [
          "name",
          "description",
          "labels",
          "fields"
        ]
      },
      "custom_object_field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The machine name of the property as it appears in the third-party Provider. In Salesforce, this must end with `__c`.",
            "example": "FirstName"
          },
          "label": {
            "type": "string",
            "description": "The human-readable name of the property as provided by the third-party Provider.",
            "example": "First Name"
          },
          "description": {
            "type": "string",
[...]
