openapi: 3.0.3
info:
  version: 0.12.7
  title: Supaglue CRM API
  contact:
    name: Supaglue
  description: |
    #### Introduction

    Welcome to the Supaglue Actions API (CRM) documentation. You can use this API to write to third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18172762-fa1c1bb5-8b11-475a-8e9b-d2ad988ccaf0?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D18172762-fa1c1bb5-8b11-475a-8e9b-d2ad988ccaf0%26entityType%3Dcollection%26workspaceId%3D4d2a33f3-a9f9-41f4-ac2e-5ad4db4a5edb)

    #### Reading data
    To read data from third-party providers, refer to Supaglue's [Managed Syncs](https://docs.supaglue.com/integration-patterns/managed-syncs) feature.

    #### Base API URL
    ```
    https://api.supaglue.io/crm/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/crm/v2'
    description: Supaglue API
paths:
  '/accounts':
    $ref: paths/accounts.yaml
  '/accounts/{account_id}':
    $ref: paths/accounts@{account_id}.yaml
  '/contacts':
    $ref: paths/contacts.yaml
  '/contacts/{contact_id}':
    $ref: paths/contacts@{contact_id}.yaml
  '/leads':
    $ref: paths/leads.yaml
  '/leads/{lead_id}':
    $ref: paths/leads@{lead_id}.yaml
  '/opportunities':
    $ref: paths/opportunities.yaml
  '/opportunities/{opportunity_id}':
    $ref: paths/opportunities@{opportunity_id}.yaml
  '/users/{user_id}':
    $ref: paths/users@{user_id}.yaml
  '/passthrough':
    $ref: paths/passthrough.yaml
  '/custom-objects':
    $ref: paths/custom-objects.yaml
  '/custom-objects/{custom_object_id}':
    $ref: paths/custom-objects@{custom_object_id}.yaml
  '/custom-objects/{custom_object_id}/records':
    $ref: paths/custom-object-records.yaml
  '/custom-objects/{custom_object_id}/records/{record_id}':
    $ref: paths/custom-object-records@{record_id}.yaml
  '/association-types':
    $ref: paths/association-types.yaml
  '/associations':
    $ref: paths/associations.yaml
tags:
  - name: Accounts
    description: The `Account` Common Object is used to represent a "company" in CRMs.
  - name: Contacts
    description: The `Contact` Common Object is used to represent a "contact" in CRMs.
  - name: Leads
    description: The `Lead` Common Object is used to represent a "potential customer" in CRMs.
  - name: Opportunities
    description: The `Opportunity` Common Object is used to represent a "deal opportunity" in CRMs.
  - name: Users
    description: The `User` Common Object is used to represent a "user" that can login to CRMs.
  - name: Passthrough
    description: Passthrough operations to underlying providers.
  - name: CustomObjects
    description: The `Custom Objects` Common Object is used to represent a "custom object" in CRMs.
  - name: CustomObjectRecords
    description: The `Custom Object Record` Common Object is used to represent a "custom object record" in CRMs.
  - name: AssociationTypes
    description: The `Association Type` Common Object is used to represent an "association type" in CRMs.
  - name: Associations
    description: The `Association` Common Object is used to represent an "association" in CRMs.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    account:
      $ref: ./components/schemas/objects/account.yaml
    create_update_account:
      $ref: ./components/schemas/create_update_account.yaml
    contact:
      $ref: ./components/schemas/objects/contact.yaml
    create_update_contact:
      $ref: ./components/schemas/create_update_contact.yaml
    lead:
      $ref: ./components/schemas/objects/lead.yaml
    create_update_lead:
      $ref: ./components/schemas/create_update_lead.yaml
    opportunity:
      $ref: ./components/schemas/objects/opportunity.yaml
    user:
      $ref: ./components/schemas/objects/user.yaml
    create_update_opportunity:
      $ref: ./components/schemas/create_update_opportunity.yaml
    logs:
      $ref: ../../common/components/schemas/logs.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
    created_record:
      $ref: ../../common/components/schemas/created_model.yaml
    addresses:
      $ref: ./components/schemas/objects/addresses.yaml
    email_addresses:
      $ref: ./components/schemas/objects/email_addresses.yaml
    phone_numbers:
      $ref: ./components/schemas/objects/phone_numbers.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    custom_fields:
      $ref: ./components/schemas/objects/custom_fields.yaml
    equals_filter:
      $ref: ./components/schemas/equals_filter.yaml
    contains_filter:
      $ref: ./components/schemas/contains_filter.yaml
    filter:
      $ref: ./components/schemas/filter.yaml
    lifecycle_stage:
      $ref: ./components/schemas/objects/lifecycle_stage.yaml
    custom_object:
      $ref: ./components/schemas/objects/custom_object.yaml
    create_update_custom_object:
      $ref: ./components/schemas/create_update_custom_object.yaml
    custom_object_record:
      $ref: ./components/schemas/objects/custom_object_record.yaml
    create_update_custom_object_record:
      $ref: ./components/schemas/create_update_custom_object_record.yaml
    custom_object_field:
      $ref: ./components/schemas/objects/custom_object_field.yaml
    association_type:
      $ref: ./components/schemas/objects/association_type.yaml
    create_update_association_type:
      $ref: ./components/schemas/create_update_association_type.yaml
    object:
      $ref: ./components/schemas/objects/object.yaml
    object_type:
      $ref: ./components/schemas/objects/object_type.yaml
    association_type_cardinality:
      $ref: ./components/schemas/objects/association_type_cardinality.yaml
    association_type_cardinality_or_unknown:
      $ref: ./components/schemas/objects/association_type_cardinality_or_unknown.yaml
    create_update_association:
      $ref: ./components/schemas/create_update_association.yaml
    association:
      $ref: ./components/schemas/objects/association.yaml
    record:
      $ref: ./components/schemas/objects/record.yaml
  parameters:
    include_deleted_data:
      $ref: ../../common/components/parameters/query/include_deleted_data.yaml
    include_raw_data:
      $ref: ../../common/components/parameters/query/include_raw_data.yaml
    created_after:
      $ref: ../../common/components/parameters/query/created_after.yaml
    created_before:
      $ref: ../../common/components/parameters/query/created_before.yaml
    modified_after:
      $ref: ../../common/components/parameters/query/modified_after.yaml
    modified_before:
      $ref: ../../common/components/parameters/query/modified_before.yaml
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
