openapi: 3.0.3
info:
  version: 0.16.9
  title: Unified CRM API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Unified API (CRM) documentation. You can use this API to write to multiple third-party providers within the CRM category.

    [View common schema for CRM](https://docs.supaglue.com/platform/common-schemas/crm)

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/crm/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/crm/v2'
    description: Supaglue API
paths:
  '/accounts':
    $ref: paths/accounts.yaml
  '/accounts/_upsert':
    $ref: paths/accounts@upsert.yaml
  '/accounts/{account_id}':
    $ref: paths/accounts@{account_id}.yaml
  '/contacts':
    $ref: paths/contacts.yaml
  '/contacts/_search':
    $ref: paths/contacts@search.yaml
  '/contacts/_upsert':
    $ref: paths/contacts@upsert.yaml
  '/contacts/{contact_id}':
    $ref: paths/contacts@{contact_id}.yaml
  '/leads':
    $ref: paths/leads.yaml
  '/leads/_upsert':
    $ref: paths/leads@upsert.yaml
  '/leads/_search':
    $ref: paths/leads@search.yaml
  '/leads/{lead_id}':
    $ref: paths/leads@{lead_id}.yaml
  '/opportunities':
    $ref: paths/opportunities.yaml
  '/opportunities/{opportunity_id}':
    $ref: paths/opportunities@{opportunity_id}.yaml
  '/users/{user_id}':
    $ref: paths/users@{user_id}.yaml
  '/lists':
    $ref: paths/lists.yaml
  '/lists/{list_id}':
    $ref: paths/lists@{list_id}.yaml
  '/passthrough':
    $ref: paths/passthrough.yaml
tags:
  - name: Accounts
    description: The `Account` Common Object represents a "company" in CRMs.
  - name: Contacts
    description: The `Contact` Common Object represents a "contact" in CRMs.
  - name: Leads
    description: The `Lead` Common Object represents a "potential customer" in CRMs.
  - name: Opportunities
    description: The `Opportunity` Common Object represents a "deal opportunity" in CRMs.
  - name: Users
    description: The `User` Common Object represents a "user" that can log in to CRMs.
  - name: Lists
    description: The `List` Object represents a collection of CRM records.
  - name: Passthrough
    description: Passthrough operations to underlying providers.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    account:
      $ref: ./components/schemas/objects/account.yaml
    create_update_account:
      $ref: ./components/schemas/create_update_account.yaml
    contact:
      $ref: ./components/schemas/objects/contact.yaml
    create_update_contact:
      $ref: ./components/schemas/create_update_contact.yaml
    lead:
      $ref: ./components/schemas/objects/lead.yaml
    create_update_lead:
      $ref: ./components/schemas/create_update_lead.yaml
    opportunity:
      $ref: ./components/schemas/objects/opportunity.yaml
    user:
      $ref: ./components/schemas/objects/user.yaml
    list_metadata:
      $ref: ./components/schemas/objects/list_metadata.yaml
    list_membership:
      $ref: ./components/schemas/objects/list_membership.yaml
    create_update_opportunity:
      $ref: ./components/schemas/create_update_opportunity.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
    created_record:
      $ref: ../../common/components/schemas/created_model.yaml
    addresses:
      $ref: ./components/schemas/objects/addresses.yaml
    email_addresses:
      $ref: ./components/schemas/objects/email_addresses.yaml
    phone_numbers:
      $ref: ./components/schemas/objects/phone_numbers.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    custom_fields:
      $ref: ./components/schemas/objects/custom_fields.yaml
    equals_filter:
      $ref: ./components/schemas/equals_filter.yaml
    contains_filter:
      $ref: ./components/schemas/contains_filter.yaml
    filter:
      $ref: ./components/schemas/filter.yaml
    lifecycle_stage:
      $ref: ./components/schemas/objects/lifecycle_stage.yaml
  parameters:
    include_deleted_data:
      $ref: ../../common/components/parameters/query/include_deleted_data.yaml
    include_raw_data:
      $ref: ../../common/components/parameters/query/include_raw_data.yaml
    read_from_cache:
      $ref: ../../common/components/parameters/query/read_from_cache.yaml
    created_after:
      $ref: ../../common/components/parameters/query/created_after.yaml
    created_before:
      $ref: ../../common/components/parameters/query/created_before.yaml
    modified_after:
      $ref: ../../common/components/parameters/query/modified_after.yaml
    modified_before:
      $ref: ../../common/components/parameters/query/modified_before.yaml
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
    remote_provider_page_size:
      $ref: ../../common/components/parameters/query/remote_provider_page_size.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
    object_type:
      $ref: ./components/parameters/query/object_type.yaml
