# NOTE: Using 3.1.0 because we want to document webhooks.
# Other than the `webhooks` key, we should not use 3.1.0 features since the validation middleware doesn't support it yet
openapi: 3.1.0
info:
  version: 0.9.4
  title: Supaglue Management API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    # Introduction

    Welcome to the Supaglue Management API documentation. You can use this API to manage customer integrations and connections.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18172762-35306f94-8368-4412-b7f3-72715131f727?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D18172762-35306f94-8368-4412-b7f3-72715131f727%26entityType%3Dcollection%26workspaceId%3D4d2a33f3-a9f9-41f4-ac2e-5ad4db4a5edb)

    ### Base API URL

    ```
    https://api.supaglue.io/mgmt/v2
    ```
# externalDocs:
#   description: Try out our API in Postman!
#   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/mgmt/v2'
    description: Supaglue API
paths:
  '/customers':
    $ref: paths/customers.yaml
  '/customers/{customer_id}':
    $ref: paths/customers@{customer_id}.yaml
  '/destinations':
    $ref: paths/destinations.yaml
  '/destinations/{destination_id}':
    $ref: paths/destinations@{destination_id}.yaml
  '/providers':
    $ref: paths/providers.yaml
  '/providers/{provider_id}':
    $ref: paths/providers@{provider_id}.yaml
  '/integrations':
    $ref: paths/integrations.yaml
  '/integrations/{integration_id}':
    $ref: paths/integrations@{integration_id}.yaml
  '/customers/{customer_id}/connections':
    $ref: paths/connections.yaml
  '/customers/{customer_id}/connections/{connection_id}':
    $ref: paths/connections@{connection_id}.yaml
  '/webhook':
    $ref: paths/webhook.yaml
  '/sync-history':
    $ref: paths/sync_history.yaml
  '/sync-info':
    $ref: paths/sync_info.yaml
  '/force-sync':
    $ref: paths/force_sync.yaml
  '/sync-migration/_get_connections':
    $ref: paths/sync_migration_get_connections.yaml
  '/sync-migration/_migrate_connection':
    $ref: paths/sync_migration_migrate_connection.yaml
tags: []
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    customer:
      $ref: ./components/schemas/objects/customer.yaml
    integration:
      $ref: ./components/schemas/objects/integration.yaml
    provider:
      $ref: ./components/schemas/objects/provider.yaml
    destination:
      $ref: ./components/schemas/objects/destination.yaml
    s3_config:
      $ref: ./components/schemas/objects/s3_config.yaml
    postgres_config:
      $ref: ./components/schemas/objects/postgres_config.yaml
    connection:
      $ref: ./components/schemas/objects/connection.yaml
    category:
      $ref: ./components/schemas/objects/category.yaml
    integration_config:
      $ref: ./components/schemas/objects/integration_config.yaml
    provider_config:
      $ref: ./components/schemas/objects/provider_config.yaml
    provider_name:
      $ref: ./components/schemas/objects/provider_name.yaml
    provider_name_crm:
      $ref: ./components/schemas/objects/provider_name_crm.yaml
    provider_name_engagement:
      $ref: ./components/schemas/objects/provider_name_engagement.yaml
    create_update_customer:
      $ref: ./components/schemas/create_update_customer.yaml
    create_update_integration:
      $ref: ./components/schemas/create_update_integration.yaml
    create_update_provider:
      $ref: ./components/schemas/create_update_provider.yaml
    create_update_destination:
      $ref: ./components/schemas/create_update_destination.yaml
    webhook:
      $ref: ./components/schemas/objects/webhook.yaml
    sync_info:
      $ref: ./components/schemas/sync_info.yaml
    sync_history:
      $ref: ./components/schemas/sync_history.yaml
    force_sync:
      $ref: ./components/schemas/force_sync.yaml
    webhook-payload:
      $ref: './components/schemas/webhook-payload.yaml'
  parameters:
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    customer_id:
      $ref: ../../common/components/parameters/query/customer_id.yaml
    provider_name:
      $ref: ../../common/components/parameters/query/provider_name.yaml
webhooks:
  webhook:
    $ref: ./webhooks/webhook.yaml
