{
  "openapi": "3.1.0",
  "info": {
    "version": "0.25.6",
    "title": "Management API",
    "contact": {
      "name": "Supaglue",
      "email": "docs@supaglue.com",
      "url": "https://supaglue.com"
    },
    "description": "#### Introduction\n\nWelcome to the Management API documentation. You can use this API to manage customer integrations and connections.\n\n#### Base API URL\n\n```\nhttps://api.supaglue.io/mgmt/v2\n```\n"
  },
  "servers": [
    {
      "url": "https://api.supaglue.io/mgmt/v2",
      "description": "Supaglue API"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "operationId": "getCustomers",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List customers",
        "description": "Get a list of customers",
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/simple_customer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "operationId": "upsertCustomer",
        "summary": "Upsert customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simple_customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simple_customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "your-customers-unique-application-id"
        }
      ]
    },
    "/destinations": {
      "get": {
        "operationId": "getDestinations",
        "tags": [
          "Destinations"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List destinations",
        "description": "Get a list of destinations",
        "responses": {
          "200": {
            "description": "Destinations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/destination"
                  },
                  "example": [
                    {
                      "id": "92bc3460-a301-4116-8d1f-6e5f8252c2e2",
                      "application_id": "9b9a31bb-9fe4-4fa5-ba84-4c035a27f258",
                      "name": "My Postgres Destination",
                      "type": "postgres",
                      "config": {
                        "host": "production-db-new.cluster-cdhnnutnlctj.us-west-2.rds.amazonaws.com",
                        "port": 5432,
                        "database": "my_database",
                        "schema": "public",
                        "user": "user",
                        "password": "password"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "operationId": "createDestination",
        "summary": "Create destination",
        "tags": [
          "Destinations"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_destination"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Destination created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/destinations/{destination_id}": {
      "get": {
        "operationId": "getDestination",
        "summary": "Get destination",
        "tags": [
          "Destinations"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Destination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "operationId": "updateDestination",
        "summary": "Update destination",
        "tags": [
          "Destinations"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_destination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "destination_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/magic_links": {
      "get": {
        "operationId": "getMagicLinks",
        "tags": [
          "Magic Links"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List magic links",
        "description": "Get a list of magic links",
        "responses": {
          "200": {
            "description": "Magic Links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/magic_link"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "operationId": "createMagicLink",
        "summary": "Create magic link",
        "tags": [
          "Magic Links"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_magic_link"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_link"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/magic_links/{magic_link_id}": {
      "delete": {
        "operationId": "deleteMagicLink",
        "summary": "Delete magic link",
        "tags": [
          "Magic Links"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Magic Link deleted"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "magic_link_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "6bf954f9-dba3-4c34-9275-3830dccb0030"
        }
      ]
    },
    "/field_mappings": {
      "get": {
        "deprecated": true,
        "operationId": "listFieldMappings",
        "summary": "List schema mappings",
        "tags": [
          "SchemaMappings"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of objects and their field mappings (if set)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/object_field_mappings"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/field_mappings/_update_object": {
      "put": {
        "deprecated": true,
        "operationId": "updateObjectFieldMappings",
        "summary": "Update schema mappings",
        "tags": [
          "SchemaMappings"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_object_field_mapping"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of objects and their field mappings (if set)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/object_field_mappings"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/entity_mappings": {
      "get": {
        "deprecated": true,
        "operationId": "listEntityMappings",
        "summary": "List entity mappings.",
        "tags": [
          "EntityMappings"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of entity mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/merged_entity_mapping"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/entity_mappings/{entity_id}": {
      "put": {
        "deprecated": true,
        "operationId": "upsertEntityMapping",
        "summary": "Upsert entity mapping",
        "tags": [
          "EntityMappings"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/connection_entity_mapping"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity Mapping"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "deprecated": true,
        "operationId": "deleteEntityMapping",
        "summary": "Delete entity mapping",
        "tags": [
          "EntityMappings"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Entity Mapping"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "entity_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "0258cbc6-6020-430a-848e-aafacbadf4ae"
        }
      ]
    },
    "/schemas": {
      "get": {
        "deprecated": true,
        "operationId": "getSchemas",
        "tags": [
          "Schemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List schemas",
        "description": "Get a list of schemas",
        "responses": {
          "200": {
            "description": "Schemas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/schema"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "deprecated": true,
        "operationId": "createSchema",
        "summary": "Create schema",
        "tags": [
          "Schemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schema created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/schemas/{schema_id}": {
      "get": {
        "deprecated": true,
        "operationId": "getSchema",
        "summary": "Get schema",
        "tags": [
          "Schemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "deprecated": true,
        "operationId": "updateSchema",
        "summary": "Update schema",
        "tags": [
          "Schemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "deprecated": true,
        "operationId": "deleteSchema",
        "summary": "Delete schema",
        "tags": [
          "Schemas"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "schema_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "a821d59d-8b4c-4ad9-aeec-1292d2e28701"
        }
      ]
    },
    "/entities": {
      "get": {
        "deprecated": true,
        "operationId": "getEntities",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List entities",
        "description": "Get a list of entities",
        "responses": {
          "200": {
            "description": "Entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/entity"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "deprecated": true,
        "operationId": "createEntity",
        "summary": "Create entity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_entity"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/entities/{entity_id}": {
      "get": {
        "deprecated": true,
        "operationId": "getEntity",
        "summary": "Get entity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "499": {
            "$ref": "#/components/responses/remoteProviderError"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "deprecated": true,
        "operationId": "updateEntity",
        "summary": "Update entity",
        "tags": [
          "Entities"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_update_entity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "deprecated": true,
        "operationId": "deleteEntity",
        "summary": "Delete entity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "entity_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/providers": {
      "get": {
        "operationId": "getProviders",
        "tags": [
          "Providers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List providers",
        "description": "Get a list of providers",
        "responses": {
          "200": {
            "description": "Providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/provider"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "operationId": "createProvider",
        "summary": "Create provider",
        "tags": [
          "Providers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_provider"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/provider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/providers/{provider_id}": {
      "get": {
        "operationId": "getProvider",
        "summary": "Get provider",
        "tags": [
          "Providers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/provider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "operationId": "updateProvider",
        "summary": "Update provider",
        "tags": [
          "Providers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_provider"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/provider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "operationId": "deleteProvider",
        "summary": "Delete provider",
        "tags": [
          "Providers"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/provider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "provider_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/sync_configs": {
      "get": {
        "operationId": "getSyncConfigs",
        "tags": [
          "SyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List Sync Configs",
        "description": "Get a list of Sync Configs",
        "responses": {
          "200": {
            "description": "SyncConfigs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sync_config"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "operationId": "createSyncConfig",
        "summary": "Create Sync Config",
        "tags": [
          "SyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_sync_config"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SyncConfig created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/sync_configs/{sync_config_id}": {
      "get": {
        "operationId": "getSyncConfig",
        "summary": "Get Sync Config",
        "tags": [
          "SyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "SyncConfig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "operationId": "updateSyncConfig",
        "summary": "Update Sync Config",
        "description": ":::danger\nIf `force_delete_syncs` is set to true, any syncs for any deleted objects will be cascadingly deleted for all customers with this sync config.\n:::\n",
        "tags": [
          "SyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "name": "force_delete_syncs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If true, any syncs for any deleted objects will be cascadingly deleted for all customers with this sync config"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_sync_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SyncConfig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "operationId": "deleteSyncConfig",
        "summary": "Delete Sync Config",
        "description": ":::danger\nIf `force_delete_syncs` is set to true, all syncs for all customers with this sync config will be cascadingly deleted.\n:::\n",
        "tags": [
          "SyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "name": "force_delete_syncs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If true, all syncs for all customers with this sync config will be cascadingly deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "SyncConfig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "sync_config_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "d583ec72-55d4-4f35-9668-f6c759674cc1"
        }
      ]
    },
    "/connection_sync_configs": {
      "get": {
        "operationId": "getConnectionSyncConfig",
        "summary": "Get connection sync config",
        "tags": [
          "ConnectionSyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Connection Sync Config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connection_sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "499": {
            "$ref": "#/components/responses/remoteProviderError"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "put": {
        "operationId": "upsertConnectionSyncConfig",
        "summary": "Upsert connection sync config",
        "description": "Use this to override SyncConfig and Destination configurations on a per customer-connection basis. E.g. you can override the objects that are synced per customer-connection as well as override the table/collection that these objects are written into.",
        "tags": [
          "ConnectionSyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upsert_connection_sync_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection Sync Config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connection_sync_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "operationId": "deleteConnectionSyncConfig",
        "summary": "Delete connection sync config",
        "tags": [
          "ConnectionSyncConfigs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "Connection Sync Config"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/customers/{customer_id}/connections": {
      "get": {
        "operationId": "getConnections",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "List connections",
        "description": "Get a list of connections",
        "responses": {
          "200": {
            "description": "Connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/connection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "post": {
        "operationId": "createConnection",
        "summary": "Create a connection",
        "description": "This endpoint is for providers that use API key or access key for authentication. Please use [Embedded Links](https://docs.supaglue.com/platform/managed-auth#oauth-20) for providers that support Oauth2 for authentication.",
        "tags": [
          "Connections"
        ],
        "parameters": [],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "apollo",
                    "properties": {
                      "provider_name": {
                        "type": "string",
                        "enum": [
                          "apollo"
                        ],
                        "example": "apollo"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "api_key"
                        ],
                        "example": "api_key"
                      },
                      "api_key": {
                        "type": "string",
                        "description": "API key for the connected customer.",
                        "example": "e0c5545d-77b8-458d-b4bf-fc701a9cecac"
                      }
                    },
                    "required": [
                      "provider_name",
                      "type",
                      "api_key"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "gong",
                    "properties": {
                      "provider_name": {
                        "type": "string",
                        "enum": [
                          "gong"
                        ],
                        "example": "gong"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "access_key_secret"
                        ],
                        "example": "access_key_secret"
                      },
                      "access_key": {
                        "type": "string",
                        "description": "Access key for the connected customer.",
                        "example": "e0c5545d-77b8-458d-b4bf-fc701a9cecac"
                      },
                      "access_key_secret": {
                        "type": "string",
                        "description": "Access key secret for the connected customer.",
                        "example": "258a80aa-2e9b-40b0-8d7a-28f858a856f3"
                      }
                    },
                    "required": [
                      "provider_name",
                      "type",
                      "access_key",
                      "access_key_secret"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "salesforce",
                    "properties": {
                      "provider_name": {
                        "type": "string",
                        "enum": [
                          "salesforce"
                        ],
                        "example": "salesforce"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "oauth2"
                        ],
                        "example": "oauth2"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "instance_url": {
                        "type": "string"
                      },
                      "login_url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider_name",
                      "type",
                      "refresh_token",
                      "instance_url"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "hubspot",
                    "properties": {
                      "provider_name": {
                        "type": "string",
                        "enum": [
                          "hubspot"
                        ],
                        "example": "hubspot"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "oauth2"
                        ],
                        "example": "oauth2"
                      },
                      "refresh_token": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider_name",
                      "type",
                      "refresh_token"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/customers/{customer_id}/connections/_provider_user_id": {
      "get": {
        "operationId": "getProviderUserId",
        "summary": "Get logged in User ID and details",
        "description": "This endpoint returns the ID of the logged in (common schema) User and details.\n\nThe common schema User ID maps to the following 3rd-party provider object IDs:\n\n| Provider   | Remote object ID  |\n| ---------- | ----------------- |\n| Salesforce | User              |\n| Hubspot    | V3 Owner          |\n| Dynamics   | Azure System User |\n| Intercom   | Admin             |\n",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "parameters": [
          {
            "name": "x-sg-minor-version",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ],
              "example": 1
            }
          },
          {
            "name": "provider_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hubspot",
                "ms_dynamics_365_sales",
                "intercom"
              ],
              "example": "hubspot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UserId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "description": "The ID of the logged in user that originates from your customer's third-party Provider. Refer to the table above for the Provider ID mapping."
                    },
                    "raw_details": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The raw data from the your customer's third-party Provider."
                    },
                    "additional_raw_details": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "For some third-party Providers, there may be additional data used to lookup the common schema User ID (e.g. with Hubspot)"
                    }
                  },
                  "example": {
                    "user_id": "70115e3c-2700-4112-b28f-2706e08570e6",
                    "raw_details": {
                      "user_id": "70115e3c-2700-4112-b28f-2706e08570e6",
                      "user": "test@something.com",
                      "scopes": [
                        "contacts",
                        "automation",
                        "oauth"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "499": {
            "$ref": "#/components/responses/remoteProviderError"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/customers/{customer_id}/connections/{provider_name}": {
      "get": {
        "operationId": "getConnection",
        "summary": "Get connection",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "delete": {
        "operationId": "deleteConnection",
        "summary": "Delete connection",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "204": {
            "description": "An empty body is returned on successful deletion."
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "provider_name",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/provider_name"
          }
        }
      ]
    },
    "/customers/{customer_id}/connections/{provider_name}/_rate_limit_info": {
      "get": {
        "operationId": "getConnectionRateLimitInfo",
        "summary": "Get connection rate limit info",
        "description": "Get rate limit info for a connection. This endpoint is only available for\nsalesforce and apollo connections.\n",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Connection rate limit info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rate_limit_info"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "provider_name",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/provider_name"
          }
        }
      ]
    },
    "/syncs": {
      "get": {
        "operationId": "getSyncs",
        "tags": [
          "Syncs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get Syncs",
        "description": "Get a list of Syncs.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
            "description": "The pagination cursor value"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "100",
            "description": "Number of results to return per page"
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "my-customer-1",
            "description": "The customer ID that uniquely identifies the customer in your application"
          },
          {
            "name": "provider_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "salesforce",
            "description": "The provider name"
          },
          {
            "name": "object_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "common",
                "standard",
                "custom"
              ]
            },
            "example": "standard",
            "description": "The object type to filter by"
          },
          {
            "name": "object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "contact",
            "description": "The object to filter by"
          },
          {
            "name": "entity_id",
            "deprecated": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "e74b5a4f-f252-4a6c-940c-f35873498543",
            "description": "The entity id to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "Sync",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/sync_with_provider_and_customer"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    },
    "/syncs/_pause": {
      "post": {
        "operationId": "pauseSync",
        "summary": "Pause sync",
        "tags": [
          "Syncs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Data model: Objects",
                    "properties": {
                      "object_type": {
                        "type": "string",
                        "enum": [
                          "common",
                          "standard",
                          "custom"
                        ],
                        "example": "standard",
                        "description": "The object type to filter by"
                      },
                      "object": {
                        "type": "string",
                        "example": "Contact",
                        "description": "The Provider object to filter by (case sensitive)"
                      }
                    },
                    "required": [
                      "object_type",
                      "object"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Data model: Common Schema",
                    "properties": {
                      "object_type": {
                        "type": "string",
                        "enum": [
                          "common"
                        ],
                        "example": "common",
                        "description": "The object type to filter by"
                      },
                      "object": {
                        "type": "string",
                        "example": "contact",
                        "description": "The Supaglue object to filter by"
                      }
                    },
                    "required": [
                      "object_type",
                      "object"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Data model: Entities",
                    "deprecated": true,
                    "properties": {
                      "entity_id": {
                        "type": "string",
                        "description": "The entity id to filter by"
                      }
                    },
                    "required": [
                      "entity_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/syncs/_resume": {
      "post": {
        "operationId": "resumeSync",
        "summary": "Resume sync",
        "tags": [
          "Syncs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Data model: Objects",
                    "properties": {
                      "object_type": {
                        "type": "string",
                        "enum": [
                          "common",
                          "standard",
                          "custom"
                        ],
                        "example": "standard",
                        "description": "The object type to filter by"
                      },
                      "object": {
                        "type": "string",
                        "example": "contact",
                        "description": "The object to filter by"
                      }
                    },
                    "required": [
                      "object_type",
                      "object"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Data model: Entities",
                    "deprecated": true,
                    "properties": {
                      "entity_id": {
                        "type": "string",
                        "example": "cfba6060-c43a-4a63-8a8c-501c6099f8b0",
                        "description": "The entity id to filter by"
                      }
                    },
                    "required": [
                      "entity_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync"
                },
                "example": {
                  "id": "2caab904-3c7c-4894-8c82-4c28913b3419",
                  "type": "entity",
                  "entity_id": "db602f88-7a8c-44f0-8932-c92f1e033494",
                  "connection_id": "da732713-2ff7-4f3b-8728-257a026177cd",
                  "sync_config_id": "f2b3ea2a-6a1e-4983-91f1-92a4db4d7abd",
                  "paused": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/syncs/_trigger": {
      "post": {
        "operationId": "triggerSync",
        "summary": "Trigger sync",
        "tags": [
          "Syncs"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Data model: Objects",
                    "properties": {
                      "object_type": {
                        "type": "string",
                        "enum": [
                          "standard",
                          "custom"
                        ],
                        "description": "The object type to filter by",
                        "example": "standard"
                      },
                      "object": {
                        "type": "string",
                        "example": "contact",
                        "description": "The Provider object to filter by (case sensitive)"
                      },
                      "perform_full_refresh": {
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "object_type",
                      "object"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Data model: Common Schema",
                    "properties": {
                      "object_type": {
                        "type": "string",
                        "enum": [
                          "common"
                        ],
                        "description": "The object type to filter by",
                        "example": "common"
                      },
                      "object": {
                        "type": "string",
                        "example": "contact",
                        "description": "The Supaglue object to filter by"
                      },
                      "perform_full_refresh": {
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "object_type",
                      "object"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Data model: Entities",
                    "deprecated": true,
                    "properties": {
                      "entity_id": {
                        "type": "string",
                        "description": "The entity id to filter by"
                      },
                      "perform_full_refresh": {
                        "type": "boolean",
                        "example": true
                      }
                    },
                    "required": [
                      "entity_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        }
      ]
    },
    "/sync-runs": {
      "get": {
        "operationId": "getSyncRuns",
        "tags": [
          "SyncRuns"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get SyncRuns",
        "description": "Get a list of SyncRuns.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
            "description": "The pagination cursor value"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "100",
            "description": "Number of results to return per page"
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "my-customer-1",
            "description": "The customer ID that uniquely identifies the customer in your application"
          },
          {
            "name": "provider_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "salesforce",
            "description": "The provider name"
          },
          {
            "name": "object_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "common",
                "standard",
                "custom"
              ]
            },
            "example": "standard"
          },
          {
            "name": "object",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "account",
            "description": "The object to filter by"
          },
          {
            "name": "entity_id",
            "deprecated": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "e74b5a4f-f252-4a6c-940c-f35873498543",
            "description": "The entity id to filter by"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "SUCCESS",
            "description": "The status to filter by (case-insensitive)"
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": ">2021-01-06T03:24:53.434326Z",
            "description": "The start time to filter by. Should start with one of [`>`, `<`] followed by an ISO 8601 timestamp."
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": ">2021-01-06T03:24:53.434326Z",
            "description": "The end time to filter by. Should start with [`>`, `<`] followed by an ISO 8601 timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "SyncRun",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/sync_run"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "501": {
            "$ref": "#/components/responses/notImplemented"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Customers",
      "description": "A `Customer` represents one of your customers."
    },
    {
      "name": "Connections",
      "description": "A `Connection` represents a Customer's connection to a Provider."
    },
    {
      "name": "ConnectionSyncConfigs",
      "description": "A `ConnectionSyncConfig` is a configuration for how to sync a specific Customer's data from a Provider to a Destination on a schedule."
    },
    {
      "name": "Destinations",
      "description": "A `Destination` is a data store where we write data in your infrastructure."
    },
    {
      "name": "Magic Links",
      "description": "A `Magic Link` is a secure URL that allows your customers to connect their accounts to Supaglue."
    },
    {
      "name": "Providers",
      "description": "A `Provider` is a third-party SaaS tool we can connect to (e.g. Salesforce)."
    },
    {
      "name": "Schemas",
      "description": "A [`Schema`](https://docs.supaglue.com/platform/objects/overview#schemas) allows you to normalize fields for customers across a single Provider object. Supaglue uses Schemas for Managed Syncs and Actions API."
    },
    {
      "name": "Entities",
      "description": "An [`Entity`](https://docs.supaglue.com/platform/entities/overview) allows you to represent your application data models in Supaglue so customers can map their different Provider objects and fields. Supaglue uses Entities for Managed Syncs and Actions API."
    },
    {
      "name": "EntityMappings",
      "description": "An [`Entity Mapping`](https://docs.supaglue.com/platform/entities/overview#entity-mapping) maps an [Entity](https://docs.supaglue.com/platform/entities/overview) to a customer's Provider object and fields. Use Entity Mappings when you use [Entities](https://docs.supaglue.com/platform/entities/overview) as your data model."
    },
    {
      "name": "SchemaMappings",
      "description": "A `Schema Mapping` is a mapping between a [Schema](https://docs.supaglue.com/platform/objects/overview#schemas) field and fields in your customer's Provider object."
    },
    {
      "name": "SyncConfigs",
      "description": "A `SyncConfig` is a configuration for how to sync your Customers' data from a Provider to a Destination on a schedule."
    },
    {
      "name": "SyncRuns",
      "description": "A `SyncRun` is a single execution of a Sync at a point in time."
    },
    {
      "name": "Syncs",
      "description": "A `Sync` is a way for a Customer to sync data from a Provider to a Destination on a schedule."
    },
    {
      "name": "Webhooks",
      "description": "A `Webhook` is a way for Supaglue to notify you when events have happened."
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key to allow developers to access the API"
      }
    },
    "schemas": {
      "pagination": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ=="
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9"
          },
          "total_count": {
            "type": "number",
            "example": 100
          }
        },
        "required": [
          "next",
          "previous"
        ]
      },
      "customer": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string",
            "example": "d8ceb3ff-8b7f-4fa7-b8de-849292f6ca69"
          },
          "customer_id": {
            "type": "string",
            "example": "your-customers-unique-application-id"
          },
          "name": {
            "type": "string",
            "example": "MyCompany Inc"
          },
          "email": {
            "type": "string",
            "example": "contact@mycompany.com"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/connection"
            }
          }
        },
        "required": [
          "application_id",
          "name",
          "email",
          "customer_id"
        ]
      },
      "simple_customer": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string",
            "example": "d8ceb3ff-8b7f-4fa7-b8de-849292f6ca69"
          },
          "customer_id": {
            "type": "string",
            "example": "your-customers-unique-application-id"
          },
          "name": {
            "type": "string",
            "example": "MyCompany Inc"
          },
          "email": {
            "type": "string",
            "example": "contact@mycompany.com"
          }
        },
        "required": [
          "application_id",
          "name",
          "email",
          "customer_id"
        ]
      },
      "provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0c4cb91f-e392-46f5-8934-17496371f932"
          },
          "application_id": {
            "type": "string",
            "example": "273e1c75-3b6d-439a-9b8e-c6ac407df92a"
          },
          "category": {
            "$ref": "#/components/schemas/category"
          },
          "auth_type": {
            "type": "string",
            "enum": [
              "oauth2",
              "api_key",
              "access_key_secret"
            ],
            "example": "oauth2"
          },
          "name": {
            "$ref": "#/components/schemas/provider_name"
[...]
