openapi: 3.0.3
info:
  version: 0.12.12
  title: Supaglue Entity Actions API
  contact:
    name: Supaglue
  description: |
    #### Introduction

    Welcome to the Supaglue Entity Actions API documentation. You can use this API to perform CRUD on Entity records in third-party providers.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/entity_actions/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/entity_actions/v2'
    description: Supaglue API
paths:
  '/{entity_name}':
    $ref: paths/@{entity_name}.yaml
  '/{entity_name}/{record_id}':
    $ref: paths/@{entity_name}@{record_id}.yaml
tags:
  - name: EntityRecords
    description: An `Entity Record` is a record of an `Entity`.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    entity_record:
      $ref: ./components/schemas/objects/entity_record.yaml
    simple_entity:
      $ref: ./components/schemas/objects/simple_entity.yaml
    create_update_entity_record:
      $ref: ./components/schemas/create_update_entity_record.yaml
    created_entity_record:
      $ref: ./components/schemas/created_entity_record.yaml
    logs:
      $ref: ../../common/components/schemas/logs.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
