openapi: 3.0.3
info:
  version: 0.25.7
  title: Unified Engagement API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction
    Welcome to the Unified API (Engagement) documentation. You can use this API to write to multiple third-party providers within the Engagement category.

    [View common schema for Engagement](https://docs.supaglue.com/platform/common-schemas/engagement)

    #### Base API URL

    ```
    https://api.supaglue.io/engagement/v2
    ```

# externalDocs:
#   description: Try out our API in Postman!
#   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/engagement/v2'
    description: Supaglue API
paths:
  '/accounts':
    $ref: paths/accounts.yaml
  '/accounts/_search':
    $ref: paths/accounts@search.yaml
  '/accounts/{account_id}':
    $ref: paths/accounts@{account_id}.yaml
  '/accounts/_upsert':
    $ref: paths/accounts@upsert.yaml
  '/contacts':
    $ref: paths/contacts.yaml
  '/contacts/_search':
    $ref: paths/contacts@search.yaml
  '/contacts/{contact_id}':
    $ref: paths/contacts@{contact_id}.yaml
  '/users':
    $ref: paths/users.yaml
  '/users/{user_id}':
    $ref: paths/users@{user_id}.yaml
  '/mailboxes':
    $ref: paths/mailboxes.yaml
  '/mailboxes/{mailbox_id}':
    $ref: paths/mailboxes@{mailbox_id}.yaml
  '/sequences':
    $ref: paths/sequences.yaml
  '/sequences/{sequence_id}':
    $ref: paths/sequences@{sequence_id}.yaml
  '/sequences/{sequence_id}/sequence_steps':
    $ref: paths/sequences@{sequence_id}@sequence_steps.yaml
  '/sequences/{sequence_id}/sequence_steps/{sequence_step_id}':
    $ref: paths/sequences@{sequence_id}@sequence_steps@{sequence_step_id}.yaml
  '/sequence_states':
    $ref: paths/sequence_states.yaml
  '/sequence_states/_search':
    $ref: paths/sequence_states@search.yaml
  '/sequence_states/_batch':
    $ref: paths/sequence_states@_batch.yaml
  '/sequence_states/{sequence_state_id}':
    $ref: paths/sequence_states@{sequence_state_id}.yaml
tags:
  - name: Accounts
    description: The `Account` Common Object represents a "company" or "account" in Engagements.
  - name: Contacts
    description: The `Contact` Common Object represents a "contact" in Engagements.
  - name: Sequences
    description: The `Sequence` Common Object represents a "sequence" in Engagements.
  - name: Sequence States
    description: The `Sequence State` Common Object represents the state of a contact in a sequence, commonly known as a "sequence membership".
  - name: Users
    description: The `User` Common Object represents a "user" in Engagements.
  - name: Mailboxes
    description: The `Mailbox` Common Object is used to represent email mailbox, used within the application for sending and syncing emails.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    account:
      $ref: ./components/schemas/objects/account.yaml
    create_account:
      $ref: ./components/schemas/create_update_account.yaml
    contact:
      $ref: ./components/schemas/objects/contact.yaml
    create_contact:
      $ref: ./components/schemas/create_update_contact.yaml
    sequence_state:
      $ref: ./components/schemas/objects/sequence_state.yaml
    create_sequence_state:
      $ref: ./components/schemas/create_sequence_state.yaml
    mailbox:
      $ref: ./components/schemas/objects/mailbox.yaml
    user:
      $ref: ./components/schemas/objects/user.yaml
    sequence:
      $ref: ./components/schemas/objects/sequence.yaml
    sequence_step:
      $ref: ./components/schemas/objects/sequence_step.yaml
    create_sequence:
      $ref: ./components/schemas/create_sequence.yaml
    create_sequence_step:
      $ref: ./components/schemas/create_sequence_step.yaml
    update_sequence_step:
      $ref: ./components/schemas/update_sequence_step.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    address:
      $ref: ./components/schemas/objects/address.yaml
    email_addresses:
      $ref: ./components/schemas/objects/email_addresses.yaml
    phone_numbers:
      $ref: ./components/schemas/objects/phone_numbers.yaml
    custom_fields:
      $ref: ./components/schemas/objects/custom_fields.yaml
    created_record:
      $ref: ../../common/components/schemas/created_model.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    include_deleted_data:
      $ref: ../../common/components/parameters/query/include_deleted_data.yaml
    include_raw_data:
      $ref: ../../common/components/parameters/query/include_raw_data.yaml
    created_after:
      $ref: ../../common/components/parameters/query/created_after.yaml
    created_before:
      $ref: ../../common/components/parameters/query/created_before.yaml
    modified_after:
      $ref: ../../common/components/parameters/query/modified_after.yaml
    modified_before:
      $ref: ../../common/components/parameters/query/modified_before.yaml
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    remote_provider_page_size:
      $ref: ../../common/components/parameters/query/remote_provider_page_size.yaml
    read_from_cache:
      $ref: ../../common/components/parameters/query/read_from_cache.yaml
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ../../common/components/parameters/header/x-provider-name.yaml
  responses:
    badRequest:
      $ref: ../../common/components/responses/badRequest.yaml
    conflict:
      $ref: ../../common/components/responses/conflict.yaml
    forbidden:
      $ref: ../../common/components/responses/forbidden.yaml
    internalServerError:
      $ref: ../../common/components/responses/internalServerError.yaml
    notFound:
      $ref: ../../common/components/responses/notFound.yaml
    notImplemented:
      $ref: ../../common/components/responses/notImplemented.yaml
    remoteProviderError:
      $ref: ../../common/components/responses/remoteProviderError.yaml
    unauthorized:
      $ref: ../../common/components/responses/unauthorized.yaml
    unprocessableEntity:
      $ref: ../../common/components/responses/unprocessableEntity.yaml
