openapi: 3.0.3
info:
  version: 0.14.16
  title: Unified Engagement API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction
    Welcome to the Unified API documentation for Engagement. You can use this API to write to multiple third-party providers within the Engagement category.

    [View common schema for Engagement](https://docs.supaglue.com/platform/common-schemas/engagement)

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL

    ```
    https://api.supaglue.io/engagement/v2
    ```

# externalDocs:
#   description: Try out our API in Postman!
#   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/engagement/v2'
    description: Supaglue API
paths:
  '/passthrough':
    $ref: paths/passthrough.yaml
  '/accounts':
    $ref: paths/accounts.yaml
  '/accounts/{account_id}':
    $ref: paths/accounts@{account_id}.yaml
  '/contacts':
    $ref: paths/contacts.yaml
  '/contacts/{contact_id}':
    $ref: paths/contacts@{contact_id}.yaml
  '/users/{user_id}':
    $ref: paths/users@{user_id}.yaml
  '/mailboxes/{mailbox_id}':
    $ref: paths/mailboxes@{mailbox_id}.yaml
  '/sequences':
    $ref: paths/sequences.yaml
  '/sequences/{sequence_id}':
    $ref: paths/sequences@{sequence_id}.yaml
  '/sequences/{sequence_id}/sequence_steps':
    $ref: paths/sequences@{sequence_id}@sequence_steps.yaml
  '/sequence_states':
    $ref: paths/sequence_states.yaml
  '/sequence_states/{sequence_state_id}':
    $ref: paths/sequence_states@{sequence_state_id}.yaml
tags:
  - name: Contacts
    description: The `Contact` Common Object represents a "contact" in Engagements.
  - name: Sequences
    description: The `Sequence` Common Object represents a "sequence" in Engagements.
  - name: Sequence States
    description: The `Sequence State` Common Object represents the state of a contact in a sequence.
  - name: Users
    description: The `User` Common Object represents a "user" in Engagements.
  - name: Mailboxes
    description: The `Mailbox` Common Object is used to represent email mailbox, used within the application for sending and syncing emails
  - name: Accounts
    description: The `Account` Common Object represents a "company" or "account" in Engagements.
  - name: Passthrough
    description: Passthrough operations to underlying providers.
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    account:
      $ref: ./components/schemas/objects/account.yaml
    create_account:
      $ref: ./components/schemas/create_update_account.yaml
    contact:
      $ref: ./components/schemas/objects/contact.yaml
    create_contact:
      $ref: ./components/schemas/create_update_contact.yaml
    sequence_state:
      $ref: ./components/schemas/objects/sequence_state.yaml
    create_sequence_state:
      $ref: ./components/schemas/create_sequence_state.yaml
    mailbox:
      $ref: ./components/schemas/objects/mailbox.yaml
    user:
      $ref: ./components/schemas/objects/user.yaml
    sequence:
      $ref: ./components/schemas/objects/sequence.yaml
    create_sequence:
      $ref: ./components/schemas/create_sequence.yaml
    create_sequence_step:
      $ref: ./components/schemas/create_sequence_step.yaml
    pagination:
      $ref: ../../common/components/schemas/pagination.yaml
    address:
      $ref: ./components/schemas/objects/address.yaml
    email_addresses:
      $ref: ./components/schemas/objects/email_addresses.yaml
    custom_fields:
      $ref: ./components/schemas/objects/custom_fields.yaml
    created_record:
      $ref: ../../common/components/schemas/created_model.yaml
    errors:
      $ref: ../../common/components/schemas/errors.yaml
    warnings:
      $ref: ../../common/components/schemas/warnings.yaml
  parameters:
    include_deleted_data:
      $ref: ../../common/components/parameters/query/include_deleted_data.yaml
    include_raw_data:
      $ref: ../../common/components/parameters/query/include_raw_data.yaml
    created_after:
      $ref: ../../common/components/parameters/query/created_after.yaml
    created_before:
      $ref: ../../common/components/parameters/query/created_before.yaml
    modified_after:
      $ref: ../../common/components/parameters/query/modified_after.yaml
    modified_before:
      $ref: ../../common/components/parameters/query/modified_before.yaml
    cursor:
      $ref: ../../common/components/parameters/query/cursor.yaml
    page_size:
      $ref: ../../common/components/parameters/query/page_size.yaml
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
