name: Build and push API Docker image

on:
  workflow_dispatch:
  push:
    paths:
      - apps/api/**
      - packages/core/**
      - packages/db/**
      - packages/schemas/**
      - packages/sync-workflows/**
      - packages/types/**
      - packages/utils/**
    branches:
      - main
  pull_request:
    paths:
      - apps/api/**
      - packages/core/**
      - packages/db/**
      - packages/schemas/**
      - packages/sync-workflows/**
      - packages/types/**
      - packages/utils/**

concurrency:
  group: ${{ github.repository }}-api-${{ github.event.number || github.head_ref ||
    github.sha }}-${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build_and_push:
    name: Build and push Docker image
    uses: ./.github/workflows/docker_build_and_push.yml
    with:
      workspace: api
      image-name: api
      depot-project: s2bgc6nj7c
    secrets:
      build-args: |
        POSTHOG_API_KEY=${{ secrets.POSTHOG_API_KEY }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      STAGING_KUBECONFIG: ${{ secrets.STAGING_KUBECONFIG }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

  test:
    name: Run staging integration tests
    needs: build_and_push
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/integration_tests.yml
    with:
      api-url: https://api.staging.supaglue.io
      customer-id: customer1
      environment: Staging
      release-ref: ${{ github.head_ref }}
    secrets:
      TESTING_API_KEY: ${{ secrets.STAGING_TESTING_API_KEY }}
      SLACK_WEBHOOK_URL: ${{ secrets.ALERTS_SLACK_WEBHOOK_URL }}
      PAGERDUTY_INTEGRATION_KEY: ${{ secrets.PAGERDUTY_INTEGRATION_KEY }}
      TESTING_DATABASE_URL: ${{ secrets.STAGING_TESTING_DATABASE_URL }}
