{
  "openapi": "3.0.3",
  "info": {
    "version": "0.14.0",
    "title": "Unified Enrichment API",
    "contact": {
      "name": "Supaglue",
      "email": "docs@supaglue.com",
      "url": "https://supaglue.com"
    },
    "description": "#### Introduction\n\nWelcome to the Unified Actions API (Marketing Automation) documentation. You can use this API to write to third-party providers.\n\n[View common schema for Marketing Automation](https://docs.supaglue.com/platform/common-schemas/marketing-automation)\n\n#### Base API URL\n```\nhttps://api.supaglue.io/marketing-automation/v2\n```\n"
  },
  "servers": [
    {
      "url": "https://api.supaglue.io/marketing-automation/v2",
      "description": "Supaglue API"
    }
  ],
  "paths": {
    "/forms/{form_id}/_submit": {
      "post": {
        "operationId": "submitForm",
        "summary": "Submit form",
        "tags": [
          "Forms"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFields": {
                    "type": "object",
                    "description": "a mapping of field name to value for each field in the form",
                    "example": {
                      "email": "me@supaglue.com",
                      "firstName": "George",
                      "lastName": "Xing"
                    },
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "the email address of the lead",
                        "example": "me@supaglue.com"
                      }
                    },
                    "required": [
                      "email"
                    ],
                    "additionalProperties": true
                  }
                },
                "required": [
                  "formFields"
                ],
                "example": {
                  "formFields": {
                    "email": "me@supaglue.com",
                    "firstName": "George",
                    "lastName": "Xing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about the lead created or updated by the form submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/submit_form_response"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "name": "form_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "12345"
          }
        }
      ]
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List forms",
        "tags": [
          "Forms"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of forms and their metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/form_metadata"
                      }
                    }
                  },
                  "required": [
                    "forms"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/include_raw_data"
        }
      ]
    },
    "/forms/{form_id}/_fields": {
      "get": {
        "operationId": "getFormFields",
        "summary": "Get form fields",
        "tags": [
          "Forms"
        ],
        "security": [
          {
            "x-api-key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields on the form with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/form_field"
                      }
                    }
                  },
                  "required": [
                    "fields"
                  ]
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/x-customer-id"
        },
        {
          "$ref": "#/components/parameters/x-provider-name"
        },
        {
          "$ref": "#/components/parameters/include_raw_data"
        },
        {
          "name": "form_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "12345"
          }
        }
      ]
    }
  },
  "tags": [
    {
      "name": "Forms",
      "description": "Endpoints for managing and submitting forms"
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key to allow developers to access the API"
      }
    },
    "schemas": {
      "submit_form_response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the lead that was created/updated as a result of submitting the form",
            "example": 12345
          },
          "status": {
            "type": "string",
            "example": "updated"
          }
        },
        "required": [
          "status"
        ]
      },
      "form_metadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "example": "2022-02-27T00:00:00Z",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "example": "2022-02-27T00:00:00Z",
            "format": "date-time"
          },
          "raw_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "name",
          "created_at",
          "updated_at"
        ]
      },
      "form_field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "form_id": {
            "type": "string"
          },
          "data_format": {
            "type": "string"
          },
          "data_options": {
            "type": "array",
            "description": "Selectable options for this field. Only applicable if the data_format is `select`. Only supported for Hubspot and Marketo.",
            "items": {
              "$ref": "#/components/schemas/form_data_option"
            }
          },
          "validation_message": {
            "type": "string",
            "nullable": true
          },
          "raw_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "name",
          "required",
          "form_id",
          "data_format"
        ]
      },
      "form_data_option": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean",
            "description": "If true, will be selected by default. Defaults to false."
          }
        },
        "required": [
          "label",
          "value"
        ]
      }
    },
    "parameters": {
      "x-customer-id": {
        "name": "x-customer-id",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "my-customer-1"
        },
        "description": "The customer ID that uniquely identifies the customer in your application",
        "required": true
      },
      "x-provider-name": {
        "name": "x-provider-name",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "salesforce"
        },
        "description": "The provider name",
        "required": true
      },
      "include_raw_data": {
        "name": "include_raw_data",
        "in": "query",
        "schema": {
          "type": "boolean",
          "example": true
        },
        "description": "Whether to include raw data fetched from the 3rd party provider."
      }
    }
  }
}