openapi: 3.0.3
info:
  version: 0.14.0
  title: Unified Enrichment API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: 'https://supaglue.com'
  description: |
    #### Introduction

    Welcome to the Unified Actions API (Marketing Automation) documentation. You can use this API to write to third-party providers.

    [View common schema for Marketing Automation](https://docs.supaglue.com/platform/common-schemas/marketing-automation)

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)

    #### Base API URL
    ```
    https://api.supaglue.io/marketing-automation/v2
    ```
  # externalDocs:
  #   description:
  #   url: 'https://www.postman.com/supaglue/workspace/supaglue-public/overview'
servers:
  - url: 'https://api.supaglue.io/marketing-automation/v2'
    description: Supaglue API
paths:
  '/forms/{form_id}/_submit':
    $ref: paths/forms@{form_id}@_submit.yaml
  '/forms':
    $ref: paths/forms.yaml
  '/forms/{form_id}/_fields':
    $ref: paths/forms@{form_id}@_fields.yaml
tags:
  - name: Forms
    description: Endpoints for managing and submitting forms
components:
  securitySchemes:
    x-api-key:
      $ref: ../../common/components/securitySchemes/x-api-key.yaml
  schemas:
    submit_form_response:
      $ref: ./components/schemas/submit_form_response.yaml
    form_metadata:
      $ref: ./components/schemas/form_metadata.yaml
    form_field:
      $ref: ./components/schemas/form_field.yaml
    form_data_option:
      $ref: ./components/schemas/form_data_option.yaml
  parameters:
    x-customer-id:
      $ref: ../../common/components/parameters/header/x-customer-id.yaml
    x-provider-name:
      $ref: ./components/parameters/header/x-provider-name.yaml
    include_raw_data:
      $ref: ../../common/components/parameters/query/include_raw_data.yaml
